<%= form_with(model: historium, local: true) do |form| %>
  <% if historium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historium.errors.count, "error") %> prohibited this historium from being saved:</h2>

      <ul>
      <% historium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= wicked_pdf_stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" %>
<%= wicked_pdf_javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"%>
<%= wicked_pdf_javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"%>
<!------ Include the above in your HEAD tag ---------->
<%= stylesheet_link_tag "formulariomostrar.css" %>
<%= wicked_pdf_stylesheet_link_tag "formulariomostrar.css" %>
<%= javascript_include_tag "http://www.google.com/jsapi" %>

<%aux6=0.0%><%ac21=0%><%x=0.0%><%i14=0.0%><%j4=0%><% gob= 0.0 %>
<% gob1= 0.0 %><% gob2= 0.0 %><% gob3= 0.0 %><% gob4= 0.0 %><% gob5= 0.0 %><% gob6= 0.0 %>
<% suma = 0.0%><% total = 0.0 %><% resto =0.0 %><%igob3=0.0%><%igob5=0.0%>
<%igob6=0.0%>
<%igob7=0.0%>
<%di28=0.0%>
<%di29=0.0%>
<%di281=0.0%>
<%di291=0.0%>
<%puntaje = 0.0 %>
<%resta= 0.0 %>
<%punt=0.0%>
<%cu1=0.0%>
<%cu1b =0.0%>
<%cu2 = 0.0 %>
<%cu2b = 0.0 %>
<%cu3 = 0.0 %>
<%cu3b = 0.0 %>
<%cu4 = 0.0 %>
<%cu4b = 0.0 %>
<%cu5 = 0.0 %>
<%cu5b = 0.0 %>
<%cu = 0.0 %>
<% cut = 0.0 %>
<% val = 0.0%>
<%di12 = 0.0 %>
<%di13 = 0.0 %>
<%di14 = 0.0 %>
<%di15 = 0.0 %>
<%di18 = 0.0 %>
<%di20 = 0.0 %>
<%cu11 = 0.0%>
<%pu = 0.0 %>
<%pt = 0.0 %>
<%aux = 0.0 %>
<%aux2 = 0.0 %>
<%aux3 = 0.0%>
<% aux4 =1.0%>
<%pe = 0.0 %>
<%hsum=0.0%>
<%pa=0.0%>
<%pj=0.0%>
<%cu31 = 0.0%>
<%s =0.0%>
<%aux5= 0.0%>
<%sumac1 =0.0%>
<%ac1b= 0.0%>
<%ac1 =0.0%>
<%ac=0.0%>
<%act=0.0%>
<%ac12 =0.0%>
<%di16= 0.0%>
<%ac3b=0.0%>
<%ac3=0.0%>
<%ac4b=0.0%>
<%ac4=0.0%>
<%ac5b=0.0%>
<%ac5=0.0%>
<%ac6b=0.0%>
<%ac6=0.0%>
<%ac7b=0.0%>
<%ac7=0.0%>
<%t=0.0%>
<%j16=0.0%>
<%j17=0.0%>
<%di17=0.0%>
<%j27=0.0%>
<%ac72 =0.0%>
<%ac71=0.0%>
<%ac2b = 0.0%>
<%ac2 = 0.0%>
<%h14 = 0.0%>
<%m=0%>
<%ac8b =0.0%>
<%ac8 =0.0%>
<%rs1=0.0%>
<%rs1b=0.0%>
<%rs =0.0 %>
<%rst=0.0%>
<%rs12=0%>
<%rs11=0%>
<%rs4=0.0%>
<%rs4b=0.0%>
<%rs45 =0%>
<%rs4s=0%>
<%rs4t=0%>
<%h4=0%>
<%j4=0%>
<%rs5=0.0%>
<%rs5b=0.0%>
<%rs5r=0%>
<%rs6=0.0%>
<%rs6b=0.0%>
<%rs6r=0%>
<%rs8=0.0%>
<%rs8b=0.0%>
<%rs8r=0%>
<%rs8s = 0 %>
<%r82=0%>
<%r82r=0%>
<%rs9=0.0%>
<%rs9b=0.0%>
<%rs9r=0%>
<%j36=0%>
<%gc1r=0%>
<%gc1b=0.0%>
<%gc1=0.0%>
<%gc=0%>
<%gct=0%>
<%gc3r=0%>
<%gc3b=0.0%>
<%gc3=0.0%>
<%gc3s=0%>
<%sgc3=0.0%>
<%tsg3=0.0%>
<%gc71=0.0%><%gc72=0.0%><%gc73=0.0%><%di26=0.0%><%gc7t=0.0%><%gc7b=0.0%><%gc7=0%>
<%gc10=0.0%><%gc99=0.0%><%gc10r=0.0%><%gcr10=0.0%><%gcs10=0.0%><%gc10s=0.0%><%gc82=0.0%><%gc81=0.0%><%gc81a=0.0%><%gc83=0.0%><%smgc=0.0%><%di25=0.0%>
<%gcres=0.0%><%gc8b=0.0%><%gc8=0.0%><%gcr10r=0.0%><%gc10b=0.0%><%gc10=0.0%><%gc10h=0.0%><%gc13r=0.0%><%gc13b=0.0%><%gc13=0.0%><%gc141=0.0%><%gc142=0.0%>
<%gc143=0.0%><%gch91=0.0%><%gch90=0.0%><%gc14b=0.0%><%gc14=0.0%><%gc151=0.0%><%gc15r=0.0%><%gc15s=0.0%><%gc15rs=0.0%><%gc15b=0.0%><%gc15=0%>
<%gc2b=0.0%><%gc2=0.0%><%gc2rs=0.0%><%gc2s=0.0%><%gch14=0.0%><%gcj11=0.0%><%di33=0.0%><%gcj14=0.0%><%di2=0.0%><%dis=0.0%><%gc29=0.0%><%gc2s=0.0%>
<%gc2r=0.0%><%gc21=0.0%><%gc41=0.0%><%gc4r=0.0%><%gc4s=0.0%><%gc47=0.0%><%di24=0.0%><%gc47r=0.0%><%gc4f=0.0%><%gc4b=0.0%><%gc4=0.0%>
<%gc51=0.0%><%gc5r=0.0%><%gc5s=0.0%><%gc5b=0.0%><%gc5=0.0%><%gc61=0.0%><%gc6r=0.0%><%gc6s=0.0%><%gc6b=0.0%><%gc6=0.0%><%gc9b=0.0%><%gc9=0%>
<%gch73=0.0%><%gcj69=0.0%><%gcj73=0.0%><%di30=0.0%><%gc99=0.0%><%gc9r=0.0%><%gc9s=0.0%><%gc91=0.0%>
   <% @resultados.each do |resultado| %>
   <% if @historium.id == resultado.formulario_id%>
        <% if resultado.question.subcat.nombre == 'GOB1. Participación de grupos de interés' %>
          <%valor = resultado.respuesta.to_f%>
          <% gob1 = gob1 + valor %>
        <% elsif resultado.question.subcat.nombre == 'GOB2. Compromiso Institucional'%>
          <% valor = resultado.respuesta.to_f %>
          <%gob2 = gob2 + valor %>
        <% elsif resultado.question.subcat.nombre == 'GOB3. Plan/Estrategia de Sustentabilidad'%>
          <% if resultado.question.indicador == 'GOB3.1'%>
            <% igob3 = resultado.respuesta %>
          <%elsif resultado.question.indicador != 'GOB3.1'%>
            <% if igob3 == '1.0' %>
              <% valor = resultado.respuesta.to_f %>
              <% gob3 = gob3 + valor  %>
              <%if gob3 > 100 %>
                <% gob3 = 100 %>
              <% elsif %>
                <% gob3 = gob3  %>
              <%end%>
            <%elsif%>
                <% gob3 = 0.0 %>
            <%end%>
          <%end%>
        <% elsif resultado.question.subcat.nombre == 'GOB4. Reportabilidad y Transparencia'%>
            <% valor = resultado.respuesta.to_f %>
            <%gob4 = gob4 + valor %>
        <% elsif resultado.question.subcat.nombre == 'GOB5. Huella de Carbono'%>
          <% if resultado.question.indicador == 'GOB5.1' %>
            <% igob5 = resultado.respuesta %>
            <% if igob5 == '2.0' || igob5 == '3.0' %>
                <% total = 20 %>
            <%elsif %>
                <% total = 0.0 %>
             <%end%>
          <% elsif resultado.question.indicador == 'GOB5.3' || resultado.question.indicador == 'GOB5.4' || resultado.question.indicador == 'GOB5.5' || resultado.question.indicador == 'GOB5.6'%>
              <% igob6 = resultado.respuesta %>
              <% if igob5 == '3.0' && igob6 == '1.0' %>
                 <% suma = suma + 5 %>
                 <% if suma > 10 %>
                    <% suma = 10 %>
                 <% end %>
             <%elsif%>
                 <% suma = suma %>
             <%end%>
            <%elsif resultado.question.indicador == 'GOB5.8' %>
                   <% igob7 = resultado.respuesta.to_f %>
                   <% if igob7 > 0 %>
                     <% @resultados.each do |res| %>
                       <% if res.question.indicador == 'DI28'%>
                         <% di28 = res.respuesta.to_f %>
                       <%elsif res.question.indicador == 'DI29' %>
                         <% di29 = res.respuesta.to_f %>
                       <%end%>
                     <%end%>
                     <% if igob5 == '3.0' %>
                       <% if di29 > 0 %>
                         <% puntaje = (50*((di29 - igob7)/ di29))%>
                       <%end%>
                     <% elsif igob5 != '3.0' %>
                       <% if di28 > 0 %>
                         <% puntaje = 40*((di28 - igob7)/ di28)%>
                       <%end%>
                     <%end%>
                   <%end%>
               <%elsif %>
                 <% resto = resto + resultado.respuesta.to_f %>
               <%end%>
       <% elsif resultado.question.subcat.nombre == 'GOB6. Coordinación Sustentabilidad'%>
                  <% valor = resultado.respuesta.to_f %>
                  <%gob6 = gob6 + valor %>
        <%elsif resultado.question.subcat.nombre == 'CU1. Estudiantes promotores de la Sustentabilidad' %>
            <% if resultado.question.indicador == 'CU1.1' %>
                <% cu11 = resultado.respuesta %>
            <% elsif resultado.question.indicador != 'CU1.5' && resultado.question.indicador != 'CU1.1'%>
                <% val = val + resultado.respuesta.to_f%>
            <% elsif resultado.question.indicador == 'CU1.5' %>
                <% cu15 = resultado.respuesta %>
                <% @resultados.each do |res| %>
                  <% if res.question.indicador == 'DI12' %>
                      <% di12 =  res.respuesta %>
                  <%elsif res.question.indicador == 'DI13' %>
                  <%end%>
                 <%end%>
                 <%if  cu11 == '1.0'%>
                  <% sum = di12.to_f + di13.to_f %>
                  <% if sum > 0 %>
                      <% ptj = cu15.to_f / sum %>
                  <%elsif %>
                    <% ptj = 0%>
                  <%end%>
                  <%if val > 1 %>
                  <% di13 =  res.respuesta %>
                  <% aux2 = 2000 * ptj * 1 %>
                  <% if aux2 > 100 %>
                      <% punt = 100%>
                  <% elsif %>
                      <% punt = aux2 %>
                  <%end%>
                  <%elsif%>
                      <%punt = 0%>
                  <%end%>
                <%end%>
              <%end%>
          <%elsif resultado.question.subcat.nombre == 'CU2. Inducción a la Sustentabilidad para estudiantes'%>
              <% if resultado.question.indicador != 'CU2.2'%>
                  <%  aux = resultado.respuesta %>
              <%elsif resultado.question.indicador == 'CU2.2'%>
                    <%aux2 = resultado.respuesta.to_f%>
                    <% @resultados.each do |res| %>
                        <% if res.question.indicador == 'DI14'%>
                            <%di14 = res.respuesta %>
                        <% elsif res.question.indicador == 'DI15'%>
                            <%di15 = res.respuesta %>
                        <%end%>
                    <%end%>
                    <% sum = di15.to_f + di14.to_f %>
                    <%aux3 = aux2 / sum %>
                    <%if aux2 > sum %>
                      <% pu = 0 %>
                    <% elsif %>
                        <% if aux == '1.0' %>
                            <% pu = 100 * aux3 %>
                        <%elsif %>
                            <% pu = 0 %>
                        <%end%>
                    <%end%>
              <%end%>
              <%elsif resultado.question.subcat.nombre == 'CU3. Funcionarios promotores de la Sustentabilidad' %>
                  <% if resultado.question.indicador == 'CU3.1' %>
                      <% cu31 = resultado.respuesta %>
                  <% elsif resultado.question.indicador != 'CU3.5' && resultado.question.indicador != 'CU3.1'%>
                      <% val = val + resultado.respuesta.to_f%>
                  <% elsif resultado.question.indicador == 'CU3.5' %>
                      <% cu35 = resultado.respuesta %>
                      <% @resultados.each do |res| %>
                        <% if res.question.indicador == 'DI18' %>
                            <% di18 =  res.respuesta %>
                        <%elsif res.question.indicador == 'DI20' %>
                            <% di20 =  res.respuesta %>
                        <%end%>
                       <%end%>
                       <%if  cu31 == '1.0'%>
                        <% su = di18.to_f + di20.to_f %>
                        <% if su > 0 %>
                            <% ptj = cu35.to_f / su %>
                        <%elsif %>
                          <% ptj = 0%>
                        <%end%>
                        <%if val > 1 %>
                        <% aux2 = 2000 * ptj * 1 %>
                        <% if aux2 > 100 %>
                            <% pt = 100%>
                        <% elsif %>
                            <% pt = aux2 %>
                        <%end%>
                        <%elsif%>
                            <%pt = 0%>
                        <%end%>
                      <%end%>
                    <%end%>
                <%elsif resultado.question.subcat.nombre == 'CU4.Inducción a la sustentabilidad para funcionarios'%>
                        <% if resultado.question.indicador != 'CU4.2'%>
                            <%  aux = resultado.respuesta %>
                        <%elsif resultado.question.indicador == 'CU4.2'%>
                              <%aux2 = resultado.respuesta.to_f%>
                              <%aux3 = aux2 / di20.to_f %>
                              <%if aux3 > 1.0 %>
                                <% pe = 100 %>
                              <% elsif %>
                                  <% if aux == '1.0' %>
                                      <% pe = 100 * aux3 %>
                                  <%elsif %>
                                      <% pe = 0 %>
                                  <%end%>
                              <%end%>
                          <%end%>
                  <%elsif resultado.question.subcat.nombre == 'CU5. Programa de prácticas sustentables para oficinas'%>
                        <% if resultado.question.indicador == 'CU5.1'%>
                            <%  aux = resultado.respuesta %>
                        <%elsif resultado.question.indicador == 'CU5.2'%>
                            <%aux2 = resultado.respuesta.to_f%>
                        <%elsif resultado.question.indicador== 'CU5.3'%>
                            <%aux3 = resultado.respuesta.to_f %>
                        <%end%>
                        <%if aux == '1.0' %>
                          <% aux4 = aux2 /aux3  %>
                          <% pa = 200 * aux4 %>
                          <%if pa > 100 %>
                            <% pa = 100 %>
                          <%elsif %>
                            <% pa=pa %>
                          <%end%>
                        <%elsif %>
                          <%pa=0%>
                        <%end%>
                <%elsif resultado.question.subcat.nombre == 'CU6. Programa de desarrollo profesional en sustentabilidad'%>
                      <% if resultado.question.indicador == 'CU6.1'%>
                            <%  aux = resultado.respuesta %>
                      <%elsif resultado.question.indicador == 'CU6.2'%>
                            <%aux2 = resultado.respuesta.to_f%>
                      <%end%>
                      <%if aux == '1.0' %>
                          <% aux4 = aux2 /di20.to_f  %>
                          <% pj = 1000 * aux4 %>
                          <%if pj > 100 %>
                             <% pj = 100 %>
                          <%elsif %>
                            <% pj=pj %>
                          <%end%>
                      <%elsif %>
                          <%pj=0%>
                      <%end%>
              <%elsif resultado.question.subcat.nombre == 'CU7. Actividades de difusión y sensibilización'%>
                  <% aux5 =  resultado.respuesta %>
                  <% s = s + aux5.to_f %>
                  <% if s >100 %>
                      <% s = 100%>
                  <%elsif %>
                    <% s = s %>
                  <%end%>
              <%elsif resultado.question.subcat.nombre == 'AC1. Curso mínimo transversal de pregrado'%>
                  <%if resultado.question.indicador == 'AC1.1'%>
                      <%sumac1= resultado.respuesta.to_f %>
                  <%elsif resultado.question.indicador == 'AC1.2'%>
                      <% ac12 = resultado.respuesta %>
                  <% elsif resultado.question.indicador == 'AC1.3'%>
                      <% ac13 = resultado.respuesta.to_f %>
                      <% @resultados.each do |rs| %>
                        <% if rs.question.indicador == 'DI14' %>
                            <% di14 =  rs.respuesta %>
                       <%end%>
                      <%end%>
                      <% s2 = ac13/di14.to_f %>
                      <%if ac12 == '1.0' %>
                          <% i4 = 100*s2 %>
                      <%elsif ac12 != '1.0'  %>
                          <% i4 = 0 %>
                      <%end%>
                      <% if s2 > 1.0 %>
                          <%sumac1 = sumac1 + 0%>
                      <%elsif%>
                          <% sumac1 =sumac1 + i4%>
                      <%end%>
                  <%end%>
              <%elsif resultado.question.subcat.nombre == 'AC2. Capacitación profesores'%>
                  <% if resultado.question.indicador == 'AC2.1'%>
                      <% ac21= resultado.respuesta %>
                  <% elsif resultado.question.indicador != 'AC2.8' && resultado.question.indicador != 'AC2.1' %>
                     <% h= resultado.respuesta%>
                     <%hsum = hsum + h.to_f%>
                  <%elsif resultado.question.indicador == 'AC2.8'%>
                      <% ac28 = resultado.respuesta %>
                      <% if  ac21 == '1.0'%>
                        <% if hsum.to_f >= 2 %>
                            <% x = 1 %>
                        <%elsif %>
                            <% x = 0 %>
                        <%end%>
                      <%elsif ac21 == '0.0'%>
                          <% x = 0%>
                      <%end%>
                      <% @resultados.each do |rs| %>
                        <% if rs.question.indicador == 'DI18' %>
                            <% di18 =  rs.respuesta %>
                       <%end%>
                      <%end%>
                      <%aux6= ac28.to_f / di18.to_f %>
                      <%if x == 1 %>
                        <%i14= aux6 * 1000  %>
                      <%elsif x==0%>
                          <%i14= 0%>
                      <%end%>
                      <% if i14 > 100 %>
                          <% h14 = 100 %>
                      <%elsif i14 == 0 %>
                        <% h14 = 0%>
                      <%elsif %>
                        <%h14 =i14%>
                      <%end%>
                  <%end%>
                  <%if hsum >= 4 %>
                      <% m = h14 %>
                  <%elsif %>
                      <% m = 0 %>
                  <%end%>
              <%elsif resultado.question.subcat.nombre == 'AC3. Evaluación conocimiento sustentabilidad de estudiantes'%>
                  <%if resultado.question.indicador == 'AC3.1'%>
                      <% ac31 = resultado.respuesta %>
                      <% @resultados.each do |rs| %>
                        <% if rs.question.indicador == 'DI14' %>
                            <% di14 =  rs.respuesta %>
                       <%end%>
                      <%end%>
                      <% j16= ac31.to_f / di14.to_f%>
                  <%elsif resultado.question.indicador == 'AC3.2'%>
                      <% ac32 = resultado.respuesta %>
                      <% @resultados.each do |rs| %>
                        <% if rs.question.indicador == 'DI16' %>
                            <% di16 =  rs.respuesta %>
                       <%end%>
                      <%end%>
                      <% j17 = ac32.to_f / di16.to_f%>
                      <% t= j16.to_f + j17.to_f%>
                      <% if t < 2.00001 %>
                          <% ac3b = (j16*50)+ (j17*50) %>
                      <% elsif %>
                          <% ac3b = 0 %>
                      <%end%>
                  <%end%>
              <%elsif resultado.question.subcat.nombre == 'AC4. Programas de postgrado que incluyen competencias en sustentabilidad'%>
                <% if resultado.question.indicador == 'AC4.1'%>
                  <%ac41= resultado.respuesta%>
                  <% @resultados.each do |rs| %>
                    <% if rs.question.indicador == 'DI17' %>
                        <% di17 =  rs.respuesta %>
                   <%end%>
                  <%end%>
                  <%j19= ac41.to_f / di17.to_f%>
                  <% if j19 < 1.00001 %>
                      <% ac4b = 100*j19 %>
                  <% elsif %>
                      <% ac4b = 0 %>
                  <%end%>
                <%end%>
                <%elsif resultado.question.subcat.nombre == 'AC5. Programas de pregrado que incluyen competencias en sustentabilidad'%>
                  <% if resultado.question.indicador == 'AC5.1'%>
                      <% ac51= resultado.respuesta%>
                      <% @resultados.each do |rs| %>
                        <% if rs.question.indicador == 'DI16' %>
                            <% di16 =  rs.respuesta %>
                       <%end%>
                      <%end%>
                      <%j21= ac51.to_f / di16.to_f%>
                      <% if j21 < 1.00001 %>
                          <% ac5b = 100*j21 %>
                      <% elsif %>
                          <% ac5b = 0 %>
                      <%end%>
                  <%end%>
              <%elsif resultado.question.subcat.nombre == 'AC6. Apoyo a la investigación en sustentabilidad'%>
                  <% y = resultado.respuesta%>
                  <% ac6b= ac6b + y.to_f %>
              <%elsif resultado.question.subcat.nombre == 'AC7. Investigación enfocada en sustentabilidad'%>
                  <% if resultado.question.indicador == 'AC7.1'%>
                      <% ac71= resultado.respuesta %>
                  <%elsif resultado.question.indicador == 'AC7.2'%>
                      <% ac72 = resultado.respuesta.to_f %>
                  <%elsif resultado.question.indicador == 'AC7.3'%>
                      <% ac73 = resultado.respuesta.to_f%>
                      <% if ac73 > 0.0001 %>
                        <% j27 = ac72.to_f/ac73.to_f %>
                      <%elsif %>
                        <%j27=0%>
                      <%end%>
                      <%if j27 > 1 %>
                        <% u = 0 %>
                      <% elsif j27 < 1 %>
                          <%if j27 > 0.2%>
                            <% u = 80 %>
                          <%elsif %>
                            <% u = 400*j27%>
                          <%end%>
                      <%end%>
                      <%ac7b=  u + ac71.to_f%>
              <%end%>
              <% elsif resultado.question.subcat.nombre == 'AC8. Transferencia de conocimiento'%>
                <%ac81 = resultado.respuesta %>
                <% ac8b= ac81.to_f + ac8b %>
              <% elsif resultado.question.subcat.nombre == 'GC1. Huella Hidríca'%>
                  <%gc1r = resultado.respuesta %>
                  <% gc1b= gc1r.to_f + gc1b %>
              <% elsif resultado.question.subcat.nombre == 'GC2. Reducción del consumo de agua'%>
                 <% if resultado.question.indicador == 'GC2.1'%>
                      <% gc21 = resultado.respuesta %>
                 <% elsif resultado.question.indicador != 'GC2.1' || resultado.question.indicador != 'GC2.9'%>
                      <% gc2r = resultado.respuesta %>
                      <% gc2s = gc2s + gc2r.to_f %>
                 <% elsif resultado.question.indicador == 'GC2.9'%>
                      <% gc29 = resultado.respuesta %>
                      <% @resultados.each do |rs| %>
                        <% if rs.question.indicador == 'DI12' || rs.question.indicador == 'DI13' || rs.question.indicador == 'DI18' || rs.question.indicador == 'DI20' %>
                            <% di2 =  rs.respuesta %>
                            <% dis =  dis + di2.to_f%>
                        <% elsif rs.question.indicador == 'DI33'%>
                            <% di33 = resultado.respuesta %>
                       <%end%>
                     <%end%>
                      <% gcj14 = gc29.to_f / dis%>
                      <% if ((di33.to_f - gcj14)/di33.to_f) == 1 %>
                        <% gcj11 = 0 %>
                      <% elsif %>
                        <% if (di33.to_f - gcj14) < 0 %>
                            <% gcj11 = 0 %>
                        <% elsif %>
                            <% gcj11 = 300 * ((di33.to_f - gcj14)/di33.to_f)%>
                        <%end%>
                      <%end%>
                      <% if gcj11 > 60 %>
                          <% gch14 = 60 %>
                      <%elsif%>
                          <% if gcj11 <= 0 %>
                              <% gch14 = 0 %>
                          <% elsif %>
                              <% gch14 = gcj11 %>
                          <%end%>
                      <%end%>
                      <% if gc2s > 30 %>
                          <% gc2rs = 30 %>
                      <%elsif%>
                          <% gc2rs = gc2s %>
                      <%end%>
                      <% gc2b = gc2rs + gch14 + gc21.to_f %>
                <%end%>
              <%elsif resultado.question.subcat.nombre == 'GC3. Biodiversidad'%>
                  <% if resultado.question.indicador == 'GC3.1'%>
                      <% gc3r = resultado.respuesta%>
                  <%elsif %>
                      <% gc3s= resultado.respuesta %>
                      <% sgc3 = sgc3 + gc3s.to_f%>
                  <%end%>
                  <% if sgc3 > 90 %>
                      <% tsg3 = 90%>
                  <%elsif %>
                      <% tsg3 = sgc3 %>
                  <%end%>
                  <%gc3b = tsg3 + gc3r.to_f %>
              <% elsif resultado.question.subcat.nombre == 'GC4. Manejo sustentable de jardines'%>
                <% if resultado.question.indicador == 'GC4.1'%>
                   <% gc41 = resultado.respuesta %>
                <% elsif resultado.question.indicador != 'GC4.1' || resultado.question.indicador != 'GC4.7'%>
                   <% gc4r = resultado.respuesta %>
                   <% gc4s = gc4s + gc4r.to_f %>
                <% elsif resultado.question.indicador == 'GC4.7'%>
                   <% gc47 = resultado.respuesta %>
                   <% @resultados.each do |rs| %>
                     <% if rs.question.indicador == 'DI24'%>
                         <% di24 = resultado.respuesta %>
                    <%end%>
                   <%end%>
                   <% gc47r = gc47.to_f / di24.to_f %>
                   <%if gc47r > 1 %>
                      <% gc47f = 0 %>
                   <%elsif %>
                      <% gc47f = gc47r * gc4s.to_f %>
                   <%end%>
                <%end%>
                <% gc4b = gc47f + gc41.to_f %>
              <% elsif resultado.question.subcat.nombre == 'GC5. Alimentación'%>
                  <% if resultado.question.indicador == 'GC5.1'%>
                      <% gc51 = resultado.respuesta %>
                  <% elsif %>
                      <% gc5r = resultado.respuesta %>
                      <% gc5s = gc5r.to_f + gc5s %>
                  <%end%>
                  <% if gc5s > 80 %>
                      <% gc5b = 80 + gc51.to_f %>
                  <% elsif %>
                      <% gc5b = gc5s + gc51.to_f %>
                  <%end%>
              <% elsif resultado.question.subcat.nombre == 'GC6. Programa de compras sustentables' %>
                  <% if resultado.question.indicador == 'GC6.1'%>
                      <% gc61 =  resultado.respuesta%>
                  <% elsif %>
                      <% gc6r = resultado.respuesta %>
                      <% gc6s = gc6s + gc6r.to_f %>
                  <% end %>
                  <% if gc61 == '1.0' %>
                      <% gc6b = gc6s %>
                  <% elsif %>
                      <% gc6b = 0 %>
                  <%end%>
              <%elsif resultado.question.subcat.nombre == 'GC7. Diseño y construcción'%>
                  <%if resultado.question.indicador == 'GC7.1'%>
                      <% gc71 = resultado.respuesta %>
                      <% gc71 = gc71.to_f * 100 %>
                  <%elsif resultado.question.indicador == 'GC7.2'%>
                      <% gc72 = resultado.respuesta %>
                      <% gc72 = g72.to_f * 70 %>
                  <% elsif resultado.question.indicador == 'GC7.3'%>
                      <% gc73 = resultado.respuesta %>
                      <% gc73 = gc73.to_f * 50 %>
                  <%end%>
                  <% @resultados.each do |rs| %>
                    <% if rs.question.indicador == 'DI26' %>
                        <% di26 =  rs.respuesta %>
                   <%end%>
                  <%end%>
                  <% gc7t = gc71 + gc72 + gc73 %>
                  <% if di26 != '' %>
                    <%if di26.to_f > gc7t  %>
                      <% gc7b = 0 %>
                    <%elsif %>
                      <% gc7b = gc7t/di26.to_f %>
                    <%end%>
                 <%elsif di26 == '' %>
                    <% gc7b = 0 %>
                 <%end%>
             <% elsif resultado.question.subcat.nombre == 'GC8. Operación y mantención' %>
                <% if resultado.question.indicador == 'GC8.1'%>
                    <% gc81 = resultado.respuesta%>
                    <% gc81a = gc81.to_f * 100 %>
                <% elsif resultado.question.indicador == 'GC8.2'%>
                    <% gc82 = resultado.respuesta %>
                <% elsif %>
                    <% gc83 =  resultado.respuesta %>
                    <% sumgc = sumagc + gc83 %>
                <%end%>
                <% @resultados.each do |rs| %>
                  <% if rs.question.indicador == 'DI25' %>
                      <% di25 =  rs.respuesta.to_f %>
                 <%end%>
                <%end%>
                <% gcres = gc82 * sumgc %>
                <% gc812 = gc81.to_f + gc82.to_f %>
                <% if di25 != '' || di25 != 0 %>
                  <% if gc812 > di25 %>
                    <% gc8b = 0 %>
                  <% elsif %>
                    <% gc8b = (gcres + gc81a) / di25 %>
                  <%end%>
                <% elsif di25 == '' || di25 == 0 %>
                  <% gc8b = 0 %>
                <%end%>
              <% elsif resultado.question.subcat.nombre == 'GC9. Consumo de energía'%>
                <% if resultado.question.indicador == 'GC9.1'%>
                    <% gc91 = resultado.respuesta %>
                <% elsif resultado.question.indicador != 'GC9.1' || resultado.question.indicador != 'GC9.9'%>
                    <% gc9r = resultado.respuesta %>
                    <% gc9s = gc9s + gc9r.to_f%>
                <% elsif resultadomquestion.indicador == 'GC9.9'%>
                    <% gc99 = resultado.respuesta %>
                    <% @resultados.each do |rs| %>
                      <% if rs.question.indicador == 'DI25' %>
                        <% di25 =  rs.respuesta.to_f %>
                      <% elsif rs.question.indicador == 'DI30' %>
                          <% di30 =  rs.respuesta.to_f %>
                      <%end%>
                   <%end%>
                   <% if di30.to_f != 0 || di30 != ''%>
                      <% gcj73 = gc99.to_f / di30.to_f%>
                   <%elsif %>
                      <% gcj73 = 0 %>
                   <%end%>
                   <% if ((di25.to_f- gcj73)/di25.to_f) == 1%>
                      <% gcj69 = 0 %>
                   <%elsif%>
                      <% gcj69 = ((di25.to_f- gcj73)/di25.to_f) * 300 %>
                   <%end%>
                   <% if gcj69 > 60 %>
                      <% gch73 = 60 %>
                   <% elsif %>
                      <% if gcj69 <= 0 %>
                          <% gch73 = 0%>
                      <%elsif %>
                          <% gch73 = gc69 %>
                      <%end%>
                  <%end%>
                  <% if gc9s > 30 %>
                      <% gc9b = 30 + gc91.to_f + gch73 %>
                  <%elsif %>
                      <% gc9b = gc91.to_f + gch73 + gc9s %>
                  <%end%>
                <%end%>
              <% elsif  resultado.question.subcat.nombre == 'GC10. Energía renovable'%>
                <% gc10 = resultado.respuesta %>
                <% if gc99 != 0 || gc99 != ''%>
                  <% gc10r = gc10.to_f / gc99 %>
                <%elsif%>
                  <% gc10r = 0 %>
                <%end%>
                <% if gc10r > 0.2 %>
                    <% gcr10 = 70 %>
                <% elsif %>
                    <% gcr10 = 0 %>
                <%end%>
                <% if gc10r > 0.00999 %>
                    <% gcs10 = 30 %>
                <% elsif %>
                    <% gcs10 = 0 %>
                <%end%>
                <% gc10s = gcr10 + gcs10 %>
                <% if gcr10 < 0.2001 %>
                  <% gcr10r = 350 * gc10 / gc99 %>
                <% elsif%>
                  <% gcr10r = gc10s %>
                <%end%>
                <% if gc99 != 0 || gc99 != ''%>
                  <% gc10h = gcr10r + gc10s %>
                <%elsif%>
                  <% gc10h= 0 %>
                <%end%>
                <% if gc10h > 100 %>
                  <% gc10b = 100 %>
                <% elsif %>
                  <% gc10b = gc10h %>
                <%end%>
            <%elsif resultado.question.subcat.nombre == 'GC13. Residuos peligrosos'%>
                <% gc13r= resultado.respuesta %>
                <% gc13b = gc13b + gc13r.to_f %>
            <%elsif resultado.question.subcat.nombre == 'GC14. Participación modal medios de transporte'%>
                <% if resultado.question.indicador == 'GC14.1'%>
                    <% gc141 = resultado.respuesta %>
                <% elsif resultado.question.indicador == 'GC14.2'%>
                    <% gc142 = resultado.respuesta %>
                <% elsif resultado.question.indicador == 'GC14.3' %>
                    <% gc143 = resultado.respuesta %>
                    <% gch91 = gc142.to_f / gc143.to_f %>
                    <% gch90 = 80*(1 - gch91) %>
                <%end%>
                <%gc14b = gc141.to_f + gch90 %>
            <%elsif resultado.question.subcat.nombre == 'GC15. Plan transporte sustentable'%>
                <% if resultado.question.indicador == 'GC15.1'%>
                    <% gc151 = resultado.respuesta %>
                <%elsif resultado.question.indicador != 'GC15.1' %>
                    <% gc15r =  resultado.respuesta %>
                    <% gc15s = gc15s + gc15r.to_f %>
                <%end%>
                <% if gc15s > 80 %>
                  <% gc15rs = 80 %>
                <% elsif %>
                  <% gc15rs = gc15s %>
                <%end%>
                <% gc15b = gc15rs + gc151.to_f %>
            <%elsif resultado.question.subcat.nombre == 'RS1. Asequibilidad'%>
                <% if resultado.question.indicador == 'RS1.1'%>
                  <% rs11= resultado.respuesta%>
                <%elsif  resultado.question.indicador == 'RS1.2'%>
                    <% rs12 = resultado.respuesta%>
                    <% @resultados.each do |rs| %>
                      <% if rs.question.indicador == 'DI14' %>
                          <% di14 =  rs.respuesta %>
                     <%end%>
                    <%end%>
                    <% if di14 != ''%>
                        <% j4 = rs12.to_f/di14.to_f %>
                    <%elsif di14 == ''%>
                        <% j4 =0%>
                    <%end%>
                    <% if j4 > 0.5 %>
                        <%h4 = 60%>
                    <%elsif %>
                        <% h4 = j4*120 %>
                    <%end%>
                    <%rs1b = h4 + rs11.to_f %>
                <%end%>
              <%elsif resultado.question.subcat.nombre == 'RS4. Colaboración'%>
                  <%if resultado.question.indicador != 'RS4.5'%>
                      <% rs4t= resultado.respuesta %>
                        <%rs4s= rs4s +rs4t.to_f %>
                  <%elsif resultado.question.indicador == 'RS4.5'%>
                    <% rs45 =resultado.respuesta%>
                    <%if rs4s > 60 %>
                        <%rs4b = 60 %>
                    <% elsif%>
                        <%rs4b = rs4s+rs45.to_f %>
                    <%end%>
                  <%end%>
             <%elsif resultado.question.subcat.nombre == 'RS5. PArticipación en políticas públicas'%>
                  <% rs5r = resultado.respuesta%>
                  <% rs5b= rs5b + rs5r.to_f %>
             <%elsif resultado.question.subcat.nombre == 'RS6. Comunidades vecinas'%>
                  <% rs6r = resultado.respuesta%>
                  <% rs6b= rs6b + rs6r.to_f %>
            <%elsif resultado.question.subcat.nombre == 'RS8. Satisfacción laboral'%>
                <%if resultado.question.indicador != 'RS8.2'%>
                    <% rs8r =resultado.respuesta.to_f%>
                    <% rs8s = rs8s+ rs8r %>
                <%elsif resultado.question.indicador == 'RS8.2'%>
                    <% r82= resultado.respuesta.to_f %>
                    <% if r82 >= 0.6 %>
                      <%r82r= 50 %>
                    <%elsif %>
                      <%r82r = 0%>
                    <%end%>
                <%end%>
                <% rs8b= rs8s + r82r %>
            <%elsif resultado.question.subcat.nombre == 'RS9. Sindicalización'%>
                <% rs9r= resultado.respuesta %>
                <% @resultados.each do |rs| %>
                  <% if rs.question.indicador == 'DI20' %>
                      <% di20 =  rs.respuesta %>
                 <%end%>
                <%end%>
                <% if di20 != '' %>
                    <% j36 = rs9r.to_f/di20.to_f %>
                <% elsif di20 == ''%>
                    <%j36=0%>
                <%end%>
                <%if j36 > 1 %>
                    <% rs9b = 0%>
                <%elsif %>
                    <%rs9b = 100 *j36%>
                <%end%>
        <%end%>
      <% end %>
    <% end %>


<%gob1b=gob1.round(2)%>
<%gob1= (gob1*0.24).round(2)%>
<%gob2b=gob2.round(2)%>
<%gob2= (gob2*0.14).round(2)%>
<%gob3b= (gob3).round(2)%>
<%gob3=(gob3b*0.14).round(2)%>
<%gob4b=gob4.round(2)%>
<%gob4=(gob4*0.11).round(1)%>
<%gob5b=(total + suma + resto + puntaje ).round(1)%>
<%gob5=(gob5b*0.11).round(2)%>
<%gob6b=(gob6.round(2))%>
<%gob6= (gob6*0.26).round(2)%>
<% gob = (gob1 + gob2 + gob3 + gob4 + gob5 + gob6).round(1) %>
<%gobt = (gob*0.19).round(2)%>
<%cu1b=punt.round(2)%>
<%cu1=(cu1b*0.17).round(2)%>
<%cu2b=pu.round(2)%>
<%cu2=(cu2b*0.17).round(2)%>
<%cu3b=pt.round(2)%>
<%cu3=(cu3b*0.0725).round(2)%>
<%cu4b=pe.round(2)%>
<%cu4=(cu4b*0.0725).round(2)%>
<%cu5b=pa.round(2)%>
<%cu5=(cu5b*0.0725).round(2)%>
<%cu6b=pj.round(2)%>
<%cu6=(cu6b*0.0725).round(2)%>
<%cu7b=s.round(2)%>
<%cu7=(cu7b*0.37).round(2)%>
<%cu =(cu1 + cu2 + cu3 + cu4 + cu5 + cu6 + cu7).round(2) %>
<%cut = (cu * 0.22 ).round(2)%>
<%ac1b=sumac1.round(2)%>
<%ac1=(ac1b* (0.54/5)).round(2)%>
<%ac2b=m.round(2)%>
<%ac2=(ac2b* (0.54/5)).round(2)%>
<%ac3b=ac3b.round(2)%>
<%ac3=(ac3b* (0.54/5)).round(2)%>
<%ac4b=ac4b.round(2)%>
<%ac4=(ac4b* (0.54/5)).round(2)%>
<%ac5b=ac5b.round(2)%>
<%ac5=(ac5b* (0.54/5)).round(2)%>
<%ac6b=ac6b.round(2)%>
<%ac6=(ac6b* (0.46/3)).round(2)%>
<%ac7b=ac7b.round(2)%>
<%ac7=(ac7b* (0.46/3)).round(2)%>
<%ac8b=ac8b.round(2)%>
<%ac8=(ac8b* (0.46/3)).round(2)%>
<%ac = (ac1+ac2+ac3+ac4+ac5+ac6+ac7+ac8).round(2)%>
<%act = (ac*0.2).round(2)%>
<%rs1b=rs1b.round(2)%>
<%rs1=(rs1b* (0.10)).round(2)%>
<%rs4b=rs4b.round(2)%>
<%rs4=(rs4b* (0.10)).round(2)%>
<%rs5b=rs5b.round(2)%>
<%rs5=(rs5b* (0.10)).round(2)%>
<%rs6b=rs6b.round(2)%>
<%rs6=(rs6b* (0.10)).round(2)%>
<%rs8b=rs8b.round(2)%>
<%rs8=(rs8b* (0.4/3)).round(2)%>
<%rs9b=rs9b.round(2)%>
<%rs9=(rs9b* (0.4/3)).round(2)%>
<%rs=(rs1+rs4+rs5+rs6+rs8+rs9)%>
<%rst=(rs * 0.19).round(2)%>
<%gc1b=gc1b.round(2)%>
<%gc1=(gc1b* (0.19/2)).round(2)%>
<%gc2b=gc2b.round(2)%>
<%gc2=(gc2b* (0.19/2)).round(2)%>
<%gc3b=gc3b.round(2)%>
<%gc3=(gc3b* (0.13/2)).round(2)%>
<%gc4=(gc4b* (0.13/2)).round(2)%>
<%gc4b=gc4b.round(2)%>
<%gc5=(gc5b* (0.09/2)).round(2)%>
<%gc5b=gc5b.round(2)%>
<%gc6=(gc6b* (0.09/2)).round(2)%>
<%gc6b=gc6b.round(2)%>
<%gc7=(gc7b* (0.13/2)).round(2)%>
<%gc7b=gc7b.round(2)%>
<%gc8=(gc8b* (0.13/2)).round(2)%>
<%gc8b=gc8b.round(2)%>
<%gc9=(gc9b* (0.17/2)).round(2)%>
<%gc9b=gc9b.round(2)%>
<%gc10=(gc10b* (0.17/2)).round(2)%>
<%gc10b=gc10b.round(2)%>
<%gc13=(gc13b* (0.17/3)).round(2)%>
<%gc13b=gc13b.round(2)%>
<%gc14=(gc14b* (0.12/2)).round(2)%>
<%gc14b=gc14b.round(2)%>
<%gc15=(gc15b* (0.12/2)).round(2)%>
<%gc15b=gc15b.round(2)%>
<%gc=(gc1+gc2+gc3+gc4+gc5+gc6+gc7+gc8+gc9+gc10+gc13+gc14+gc15)%>
<%gct=(gc * 0.2).round(2)%>
<%global = (gobt+cut+act+rst+gct).round(2) %>


<%= form.hidden_field 'global',:value => global %>
<%= form.hidden_field 'gobpon',:value => gob%>
<%= form.hidden_field 'gobbru',:value => gobt %>
<%= form.hidden_field 'gob1pon',:value => gob1%>
<%= form.hidden_field 'gob1bru',:value => gob1b%>
<%= form.hidden_field 'gob2pon',:value => gob2%>
<%= form.hidden_field 'gob2bru',:value => gob2b%>
<%= form.hidden_field 'gob3pon',:value => gob3%>
<%= form.hidden_field 'gob3bru',:value => gob3b%>
<%= form.hidden_field 'gob4pon',:value => gob4%>
<%= form.hidden_field 'gob4bru',:value => gob4b%>
<%= form.hidden_field 'gob5pon',:value => gob5%>
<%= form.hidden_field 'gob5bru',:value => gob5b%>
<%= form.hidden_field 'gob6pon',:value => gob6%>
<%= form.hidden_field 'gob6bru',:value => gob6b%>
<%= form.hidden_field 'cu1pon',:value => cu%>
<%= form.hidden_field 'cu1bru',:value => cut%>
<%= form.hidden_field 'cu1pon',:value => cu1%>
<%= form.hidden_field 'cu1bru',:value => cu1b%>
<%= form.hidden_field 'cu2pon',:value => cu2%>
<%= form.hidden_field 'cu2bru',:value => cu2b%>
<%= form.hidden_field 'cu3pon',:value => cu3%>
<%= form.hidden_field 'cu3bru',:value => cu3b%>
<%= form.hidden_field 'cu4pon',:value => cu4%>
<%= form.hidden_field 'cu4bru',:value => cu4b%>
<%= form.hidden_field 'cu5pon',:value => cu5%>
<%= form.hidden_field 'cu5bru',:value => cu5b%>
<%= form.hidden_field 'cu6pon',:value => cu6%>
<%= form.hidden_field 'cu6bru',:value => cu6b%>
<%= form.hidden_field 'cu7pon',:value => cu7%>
<%= form.hidden_field 'cu7bru',:value => cu7b%>


<div class="container" style=" font-family: monospace; margin-top: 60px;">
    <div class="row">
        <div class="col-12">
            <div class="card" style="background-color: #fff">

                    <div class="row pb-5 p-5" style="font-size: 12pt">
                        <div class="col-md-12">


                            <%= wicked_pdf_image_tag image_url('/assets/red.jpg'), height: '120', width: '320'  %>
                          </br>
                          </br>
                          <div class="col-md-11 text-center" >
                              <p class="font-weight-bold mb-1" style="font-size: 18pt; font-family: monospace;"> RESIES "REPORTE Y EVALUACION DE LA SUSTENTABILIDAD DE INSTITUCIONES DE EDUCACION SUPERIOR"</p>
                          </div>
                          </p>
                          <p>
                          </p>
                        </div>
                    </div>
                </div>
<div class="page-break">
                <div class="card" >
                  <div class="row pb-5 p-5" style="font-size: 12pt">
                      &nbsp;&nbsp;&nbsp;<div class="col-md-2" style="background-color: 	#DCDCDC">
                      </br><p class="font-weight-bold mb-1" style="font-size: 15pt; font-family: monospace;">Resultado Global</p></br>
                      <p class="font-weight-bold mb-1" style="font-size: 10pt; font-family: monospace;">Sobre un total de 100 puntos la institución obtiene:</p> </br>
                      <p class="col-md-11 text-center" style="font-size: 25pt; font-family: monospace;"> <%= global %></p>
                    </div>&nbsp;&nbsp;&nbsp;

                      <div class="col-md-4" style="background-color: 	#FFF">
                        <div class="col-md-12 text-center">
                        </br></br>
                            <table class="table text-center" style="font-size: 10pt">
                                <thead>
                                    <tr style="background-color: #FFF">
                                        <th class="border-0 text-uppercase small font-weight-bold"></th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Peso</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje bruto</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje ponderado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                      <tr>
                                           <td class="font-weight-bold mb-1 text-center" style="font-size: 8pt; font-family: monospace; background-color: #6495ED">Gobernanza y Seguimiento</td>
                                           <td style="background-color: #fff">0.19</td>
                                           <td style="background-color: #fff"><%= gob %></td>
                                           <td style="background-color: #fff"><%= gobt %></td>
                                      </tr>
                                      <tr>
                                           <td class="font-weight-bold mb-1 text-center" style="font-size: 8pt; font-family: monospace; background-color: #DAA520">Cultura sustentable</td>
                                           <td style="background-color: #fff">0.22</td>
                                           <td style="background-color: #fff"><%=cu%></td>
                                           <td style="background-color: #fff"><%=cut%></td>
                                      </tr>
                                      <tr>
                                           <td class="font-weight-bold mb-1 text-center" style="font-size: 8pt; font-family: monospace; background-color: #BA55D3">Academia</td>
                                           <td style="background-color: #fff">0.2</td>
                                           <td style="background-color: #fff"><%=ac%></td>
                                           <td style="background-color: #fff"><%=act%></td>
                                      </tr>
                                      <tr>
                                           <td class="font-weight-bold mb-1 text-center" style="font-size: 8pt; font-family: monospace; background-color: #9ACD32">Gestión de campus</td>
                                           <td style="background-color: #fff">0.2</td>
                                           <td style="background-color: #fff"><%=rs%></td>
                                           <td style="background-color: #fff"><%=rst%></td>
                                      </tr>
                                      <tr>
                                           <td class="font-weight-bold mb-1 text-center" style="font-size: 8pt; font-family: monospace; background-color: 	#87CEEB">Responsabilidad social</td>
                                           <td style="background-color: #fff">0.19</td>
                                           <td style="background-color: #fff"><%=gc%></td>
                                           <td style="background-color: #fff"><%=gct%></td>
                                      </tr>
                                </tbody>
                            </table>
                          </br>

                          </br>
                        </div>
                      </div>
                    <div class="col-md-5" style="background-color: 	#FFF">
                      <section class="details-card">
                                          <div class="col-md-7">
                                          </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Bruto</p><br>
                                             <div class="card-img">
                                            <%= bar_chart [["Gobernanza", gob],["Cultura", cu ],["Academia", ac  ],["G Campus", gc ],["Responsabilidad", rs]]%>
                                           </div></div>
                       </section>
                      <section class="details-card">
                                          <div class="col-md-5">
                                             <div class="card-img">
                                             </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Ponderado</p><br>

                                                 <%= pie_chart [["Gobernanza", gobt],["Cultura", cut],["Academia", act],["G Campus",gct],["Responsabilidad", rst],["", 100-gobt-cut-act]]%>
                                           </div></div>
                       </section>
                    </div>
                  </div>


<div class="page-break">
                <div class="panel-heading" style="background-color:  #fff">
                     <p class="panel-title"  style="font-size: 25pt; font-family: monospace;" >Resultados por Categoría </p>
                </div>

                <div class="panel-heading" style="background-color:  #d0dffa">
                       <p class="font-weight-bold mb-2"  style="font-size: 18pt; font-family: monospace;" >Gobernanza y Seguimiento </p>
                  </div>
                  <div class="row pb-5 p-5" style="font-size: 12pt">
                      <div class="col-md-6" >
                        <div class="col-md-12 text-center">
                        </br></br>
                            <table class="table text-center">
                                    <tr style="font-size: 12pt; ">
                                        <th class="border-0 text-uppercase small font-weight-bold">Subcategoría</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Indicador</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Peso</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje bruto</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje ponderado</th>
                                    </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td>Participación</td>
                                           <td  style="background-color: #000d80 ;color: #fff">GOB1</td>
                                           <td>Participación de grupos de interés</td>
                                           <td>0.24</td>
                                           <td><%= gob1b%></td>
                                           <td><%= gob1%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td rowspan="2" >Planificación y Estrategía</td>
                                           <td  style="background-color:  #263193 ;color: #fff">GOB2</td>
                                           <td>Compromiso institucional</td>
                                           <td>0.14</td>
                                           <td><%= gob2b%></td>
                                           <td><%= gob2%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style=" background-color: #404aa0 ;color: #fff">GOB3</td>
                                           <td>Plan/estrategia de Sustentabilidad</td>
                                           <td>0.14</td>
                                           <td><%= gob3b%></td>
                                           <td><%= gob3%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td rowspan="2" >Reportabilidad y Transparencia</td>
                                           <td  style=" background-color:  #666eb3 ;color: #fff">GOB4</td>
                                           <td>Reportabilidad y transparencia</td>
                                           <td>0.11</td>
                                           <td><%= gob4b%></td>
                                           <td><%= gob4%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style=" background-color: #a6aad3 ;color: #fff">GOB5</td>
                                           <td>Cambio climático</td>
                                           <td>0.11</td>
                                           <td><%= gob5b%></td>
                                           <td><%= gob5%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td >Coordinación</td>
                                           <td  style="background-color:#8c92c6 ;color: #fff">GOB6</td>
                                           <td>Coordinación sustentabilidad</td>
                                           <td>0.26</td>
                                           <td><%= gob6b%></td>
                                           <td><%= gob6%></td>
                                      </tr>
                                      <tr style="font-size: 15pt; ">

                                           <td colspan="3" class="font-weight-bold mb-2" >Resultado Categoría</td>
                                           <td colspan="3" class="font-weight-bold mb-2" ><%=gob%></td>
                                      </tr>
                            </table>
                          </br>

                          </br>
                        </div>
                      </div>

                    <div class="col-md-6">
                      <section class="details-card">
                                          <div class="col-md-7">
                                            <div class="card-img">
                                            </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Bruto</p><br>
                                                 <%= bar_chart [["Gob 1", gob1b] ,["Gob 2", gob2b] ,["Gob 3", gob3b] ,["Gob 4", gob4b] ,["Gob 5", gob5b] ,["Gob 6", gob6b]]%>
                                           </div></div>
                       </section>
                      <section class="details-card">
                                          <div class="col-md-5">
                                             <div class="card-img">
                                             </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Ponderado</p><br>
                                                 <%= pie_chart [["Gob 1", gob1] ,["Gob 2", gob2] ,["Gob 3", gob3] ,["Gob 4", gob4] ,["Gob 5", gob5] ,["Gob 6", gob6] ,["", 100-gob1]]%>
                                           </div></div>
                       </section>
                    </div>
                  </div>

</div>
<div class="page-break">

                <div class="panel-heading" style="background-color:  #ffd18c">
                       <p class="font-weight-bold mb-2"  style="font-size: 18pt; font-family: monospace;" >Cultura Sustentable </p>
                  </div>
                  <div class="row pb-5 p-5" style="font-size: 12pt">
                      <div class="col-md-7" >
                        <div class="col-md-12 text-center">
                        </br></br>
                            <table class="table text-center">
                                <thead>
                                    <tr style="font-size: 12pt; ">
                                        <th class="border-0 text-uppercase small font-weight-bold">Subcategoría</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Indicador</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Peso</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje bruto</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje ponderado</th>
                                  </thead>
                                  <tbody>
                                    </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Estudiantes</td>
                                           <td  style="background-color:  #800000 ;color: #fff">CU1</td>
                                           <td>Estudiantes promotores de la sustentabilidad</td>
                                           <td>0.17</td>
                                           <td><%=cu1b%></td>
                                           <td><%=cu1%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style="background-color:  #b31400 ;color: #fff">CU2</td>
                                           <td>Inducción a la sustentabilidad para estudiantes</td>
                                           <td>0.17</td>
                                           <td><%=cu2b%></td>
                                           <td><%=cu2%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                        <td rowspan="4" >Funcionarios</td>
                                           <td  style=" background-color: #6e3800;color: #fff">CU3</td>
                                           <td>Funcionarios promotores de la sustentabilidad</td>
                                           <td>0.07</td>
                                           <td><%= cu3b%></td>
                                           <td><%= cu3%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style=" background-color:  #945200 ;color: #fff">CU4</td>
                                           <td>Inducción a la sustentabilidad para funcionarios</td>
                                           <td>0.07</td>
                                           <td><%=cu4b%></td>
                                           <td><%=cu4%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style=" background-color:  #f79400;color: #fff">CU5</td>
                                           <td>Programa de prácticas sustentables para oficinas</td>
                                           <td>0.07</td>
                                           <td><%=cu5b%></td>
                                           <td><%=cu5%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:#ffb240 ;color: #fff">CU6</td>
                                           <td>Programas de desarrollo profesional</td>
                                           <td>0.07</td>
                                           <td><%= cu6b%></td>
                                           <td><%=cu6%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td>Sensibilización y Participación </td>
                                           <td  style="background-color:  #ffc266 ;color: #fff">CU7</td>
                                           <td>Actividades de difusión y sensibilización</td>
                                           <td>0.37</td>
                                           <td><%= cu7b%></td>
                                           <td><%= cu7 %></td>
                                      </tr>
                                      <tr style="font-size: 12pt; ">

                                           <td colspan="3" class="font-weight-bold mb-2" >Resultado Categoría</td>
                                           <td colspan="3" class="font-weight-bold mb-2" ><%= cu %></td>
                                      </tr>
                                </tbody>
                            </table>
                          </br>

                          </br>
                        </div>
                      </div>

                    <div class="col-md-5">
                      <section class="details-card">
                                          <div class="col-md-6">
                                            <div class="card-img">
                                            </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Bruto</p><br>
                                                 <%= bar_chart [["CU1", cu1b],["CU2", cu2b],["CU3", cu3b],["CU4", cu4b],["CU5", cu5b],["CU6", cu6b],["CU7", cu7b]]%>
                                           </div></div>
                       </section>
                      <section class="details-card">
                                          <div class="col-md-6">
                                            <div class="card-img">
                                            </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Ponderado</p><br>
                                                 <%= pie_chart [["CU1", cu1],["CU2", cu2],["CU3", cu3],["CU3", cu4],["CU5", cu5],["CU6", cu6],["CU7", cu7],["", 100 - cu1-cu2-cu3-cu4-cu5-cu6-cu7]]%>
                                           </div></div>
                       </section>
                    </div>
                  </div>

</div>
<div class="page-break">


                <div class="panel-heading" style="background-color:  #dabcf6">
                       <p class="font-weight-bold mb-2"  style="font-size: 18pt; font-family: monospace;" >Academia  </p>
                  </div>
                  <div class="row pb-5 p-5" style="font-size: 12pt">
                      <div class="col-md-7" >
                        <div class="col-md-12 text-center">
                        </br></br>
                            <table class="table">
                                <thead>
                                    <tr style="font-size: 12pt; ">
                                        <th class="border-0 text-uppercase small font-weight-bold">Subcategoría</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Indicador</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Peso</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje bruto</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje ponderado</th>
                                  </thead>
                                  <tbody>
                                    </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="5" >Formación</td>
                                           <td  style="background-color:  #340c5a ;color: #fff">AC1</td>
                                           <td>Curso mínimo transversal pregrado</td>
                                           <td>0.11</td>
                                           <td><%=ac1b%></td>
                                           <td><%=ac1%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style="background-color:  #4e1287 ;color: #fff">AC2</td>
                                           <td>Capacitación de profesores</td>
                                           <td>0.11</td>
                                           <td><%=ac2b%></td>
                                           <td><%=ac2%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:#761cca ;color: #fff">AC3</td>
                                           <td>Evaluación del conocimientos en sustentabilidad de estudiantes</td>
                                           <td>0.11</td>
                                           <td><%=ac3b%></td>
                                           <td><%=ac3%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color: #9c4be7 ;color: #fff">AC4</td>
                                           <td>Programas de postgrado que incluyen competencias de sustentabilidad</td>
                                           <td>0.11</td>
                                           <td><%=ac4b%></td>
                                           <td><%=ac4%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:	#c18ff0;color: #fff">AC5</td>
                                           <td>Programas y carreras de pregrado que incluyen competencias de sustentabilidad</td>
                                           <td>0.11</td>
                                           <td><%=ac5b%></td>
                                           <td><%=ac5%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                        <td rowspan="3" >Investigación y Transparencia</td>
                                           <td  style=" background-color: #ffb3d1;color: #fff">AC6</td>
                                           <td>Apoyo a la investigación en sustentabilidad</td>
                                           <td>0.15</td>
                                           <td><%=ac6b%></td>
                                           <td><%=ac6%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style=" background-color:   #ff80b3 ;color: #fff">AC7</td>
                                           <td>Investigación enfocada en sustentabilidad</td>
                                           <td>0.15</td>
                                           <td><%= ac7b%></td>
                                           <td><%= ac7%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style=" background-color:  #ff3385;color: #fff">AC8</td>
                                           <td>Transferencia de conocimientos</td>
                                           <td>0.15</td>
                                           <td><%= ac8b%></td>
                                           <td><%= ac8%></td>
                                      </tr>


                                      <tr style="font-size: 12pt; ">

                                           <td colspan="3" class="font-weight-bold mb-2" >Resultado Categoría</td>
                                           <td colspan="3" class="font-weight-bold mb-2" ><%=ac%></td>
                                      </tr>
                                </tbody>
                            </table>
                          </br>

                          </br>
                        </div>
                      </div>

                    <div class="col-md-5">
                      <section class="details-card">
                                          <div class="col-md-6">
                                             <div class="card-img">
                                             </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Bruto</p><br>
                                                 <%= bar_chart [["AC1", ac1b],["AC2", ac2b],["AC3", ac3b],["AC4", ac4b],["AC5", ac5b],["AC6", ac6b],["AC7", ac7b],["AC8", ac8b]]%>
                                           </div></div>
                       </section>
                      <section class="details-card">
                                          <div class="col-md-6">
                                             <div class="card-img">
                                             </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Ponderado</p><br>
                                                 <%= pie_chart [["AC1", ac1],["AC2", ac2],["AC3", ac3],["AC4", ac4],["AC5", ac5],["AC6", ac6],["AC7", ac7],["AC8", ac8],["", 100 - ac1-ac2-ac3-ac4-ac5-ac6-ac7-ac8]]%>
                                           </div></div>
                       </section>
                    </div>
                  </div>

              </div>
              <div class="page-break">

                <div class="panel-heading" style="background-color:   #ccffdd">
                       <p class="font-weight-bold mb-2"  style="font-size: 18pt; font-family: monospace;" >Gestión de Campus </p>
                  </div>
                  <div class="row pb-5 p-5" style="font-size: 12pt">
                      <div class="col-md-7" >
                        <div class="col-md-12 text-center">
                        </br></br>
                            <table class="table">
                                <thead>
                                    <tr style="font-size: 12pt; ">
                                        <th class="border-0 text-uppercase small font-weight-bold">Subcategoría</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Indicador</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Peso</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje bruto</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje ponderado</th>
                                  </thead>
                                  <tbody>
                                    </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Agua</td>
                                           <td  style="background-color:   #003333 ;color: #fff">GC1</td>
                                           <td>Huella Hídrica</td>
                                           <td>0.10</td>
                                           <td><%=gc1b%></td>
                                           <td><%=gc1%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style="background-color:   #006666 ;color: #fff">GC2</td>
                                           <td>Reducción de consumo de agua</td>
                                           <td>0.10</td>
                                           <td><%=gc2b%></td>
                                           <td><%=gc2%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Biodiversidad y áreas verdes</td>
                                           <td  style="background-color:  #006600 ;color: #fff">GC3</td>
                                           <td>Biodiversidad</td>
                                           <td>0.07</td>
                                           <td><%=gc3b%></td>
                                           <td><%=gc3%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:#009900 ;color: #fff">GC4</td>
                                           <td>Manejo sustentable de jardines</td>
                                           <td>0.07</td>
                                           <td><%=gc4b%></td>
                                           <td><%=gc4%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Compras</td>
                                           <td  style="background-color: #665200 ;color: #fff">GC5</td>
                                           <td>Alimentación</td>
                                           <td>0.05</td>
                                           <td><%=gc5b%></td>
                                           <td><%=gc5%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color: 	 #cca300;color: #fff">GC6</td>
                                           <td>Programa de compras sustentables</td>
                                           <td>0.05</td>
                                           <td><%=gc6b%></td>
                                           <td><%=gc6%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Construcción</td>
                                           <td  style="background-color:  #80ccff;color: #000">GC7</td>
                                           <td>Diseño y construcción</td>
                                           <td>0.07</td>
                                           <td><%=gc7b%></td>
                                           <td><%=gc7%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:	#b3e0ff;color: #000">GC8</td>
                                           <td>Operación y mantención</td>
                                           <td>0.07</td>
                                           <td><%=gc8b%></td>
                                           <td><%=gc8%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Energía</td>
                                           <td  style="background-color:  #5cd65c ;color: #000">GC9</td>
                                           <td>Consumo de energía</td>
                                           <td>0.09</td>
                                           <td><%=gc9b%></td>
                                           <td><%=gc9%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:	#adebad;color: #000">GC10</td>
                                           <td>Energía Renovable</td>
                                           <td>0.09</td>
                                           <td><%=gc10b%></td>
                                           <td><%=gc10%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                        <td rowspan="3" >Residuos</td>
                                           <td  style=" background-color: 	 #ffd633;color: #000">GC11</td>
                                           <td>Generación de Residuos</td>
                                           <td>0.06</td>
                                           <td></td>
                                           <td></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style=" background-color:   #ffe680 ;color: #000">GC12</td>
                                           <td>Recuperación de residuos</td>
                                           <td>0.06</td>
                                           <td></td>
                                           <td></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style=" background-color:  #fff0b3 ;color: #000">GC13</td>
                                           <td>Residuos peligrosos</td>
                                           <td>0.06</td>
                                           <td><%=gc13b%></td>
                                           <td><%=gc13%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="2" >Transporte</td>
                                           <td  style="background-color:  #99d6ff;color: #000">GC14</td>
                                           <td>Partición modal medios de transporte</td>
                                           <td>0.06</td>
                                           <td><%=gc14b%></td>
                                           <td><%=gc14%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:	#e6f5ff;color: #000">GC15</td>
                                           <td>Plan transporte sustentable</td>
                                           <td>0.06</td>
                                           <td><%=gc15b%></td>
                                           <td><%=gc15%></td>
                                      </tr>


                                      <tr style="font-size: 12pt; ">

                                           <td colspan="3" class="font-weight-bold mb-2" >Resultado Categoría</td>
                                           <td colspan="3" class="font-weight-bold mb-2" ><%=gc%></td>
                                      </tr>
                                </tbody>
                            </table>
                          </br>

                          </br>
                        </div>
                      </div>

                    <div class="col-md-5">
                      <section class="details-card">
                                          <div class="col-md-6">
                                            <div class="card-img">
                                            </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Bruto</p><br>
                                                 <%= bar_chart [["GC1",gc1b],["GC2",gc2b],["GC3",gc3b],["GC4",gc4b],["GC5",gc5b],["GC6",gc6b],["GC7",gc7b],["GC8",gc8b],["GC9",gc9b],["GC10",gc10b],["GC13",gc13b],["GC14",gc14b],["GC15",gc15b]]%>
                                           </div></div>
                       </section>
                      <section class="details-card">
                                          <div class="col-md-6">
                                            <div class="card-img">
                                            </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Ponderado</p><br>
                                                 <%= pie_chart [["GC1",gc1],["GC2",gc2],["GC3",gc3],["GC4",gc4],["GC5",gc5],["GC6",gc6],["GC7",gc7],["GC8",gc8],["GC9",gc9],["GC10",gc10],["GC13",gc13],["GC14",gc14],["GC15",gc15],["",(100-gc1-gc2-gc3-gc4-gc5-gc6-gc7-gc8-gc9-gc10-gc13-gc14-gc15)]]%>
                                           </div></div>
                       </section>
                    </div>
                  </div>

</div>

                <div class="panel-heading" style="background-color:  #e6f7ff">
                       <p class="font-weight-bold mb-2"  style="font-size: 18pt; font-family: monospace;" >Responsabilidad Social  </p>
                  </div>
                  <div class="row pb-5 p-5" style="font-size: 12pt">
                      <div class="col-md-7" >
                        <div class="col-md-12 text-center">
                        </br></br>
                            <table class="table">
                                <thead>
                                    <tr style="font-size: 12pt; ">
                                        <th class="border-0 text-uppercase small font-weight-bold">Subcategoría</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Indicador</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Peso</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje bruto</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Puntaje ponderado</th>
                                  </thead>
                                  <tbody>
                                    </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="3" >Diversidad e inclusión</td>
                                           <td  style="background-color:  	 #000d33 ;color: #fff">RS1</td>
                                           <td>Asequibilidad</td>
                                           <td>0.10</td>
                                           <td><%=rs1b%></td>
                                           <td><%=rs1%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style="background-color:  #001a66 ;color: #fff">RS2</td>
                                           <td>Política de Inclusión</td>
                                           <td>0.10</td>
                                           <td></td>
                                           <td></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:  #002699 ;color: #fff">RS3</td>
                                           <td>Equidad de Género</td>
                                           <td>0.10</td>
                                           <td></td>
                                           <td></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td rowspan="3" >Alianzas por la sustentabilidad</td>
                                           <td  style="background-color: #0033cc ;color: #fff">RS4</td>
                                           <td>Colaboración</td>
                                           <td>0.10</td>
                                           <td><%=rs4b%></td>
                                           <td><%=rs4%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:	0040ff;color: #fff">RS5</td>
                                           <td>Participación en políticas públicas</td>
                                           <td>0.10</td>
                                           <td><%=rs5b%></td>
                                           <td><%=rs5%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style="background-color:	#3366ff	 ;color: #fff">RS6</td>
                                           <td>Comunidades vecinas</td>
                                           <td>0.10</td>
                                           <td><%=rs6b%></td>
                                           <td><%=rs6%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                        <td rowspan="3" >Trabajo justo</td>
                                           <td  style=" background-color:#4d79ff ;color: #0">RS7</td>
                                           <td>Compensación del personal</td>
                                           <td>0.13</td>
                                           <td></td>
                                           <td></td>
                                      </tr>
                                      <tr style="font-size: 8pt; " >
                                           <td  style=" background-color: #99b3ff   ;color: #000">RS8</td>
                                           <td>Satisfacción laboral</td>
                                           <td>0.13</td>
                                           <td><%=rs8b%></td>
                                           <td><%=rs8%></td>
                                      </tr>
                                      <tr style="font-size: 8pt; ">
                                           <td  style=" background-color: #ccd9ff ;color: #000">RS9</td>
                                           <td>Sindicalización</td>
                                           <td>0.13</td>
                                           <td><%=rs9b%></td>
                                           <td><%=rs9%></td>
                                      </tr>


                                      <tr style="font-size: 12pt; ">

                                           <td colspan="3" class="font-weight-bold mb-2" >Resultado Categoría</td>
                                           <td colspan="3" class="font-weight-bold mb-2" ><%=rst%></td>
                                      </tr>
                                </tbody>
                            </table>
                          </br>

                          </br>
                        </div>
                      </div>

                    <div class="col-md-5">
                      <section class="details-card">
                                          <div class="col-md-6">
                                             <div class="card-img">
                                             </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Bruto</p><br>
                                                 <%= bar_chart [["RS1", rs1b],["RS4", rs4b],["RS5", rs5b],["RS6",rs6b],["RS8",rs8b],["RS9",rs9b]]%>
                                           </div></div>
                       </section>
                      <section class="details-card">
                                          <div class="col-md-6">
                                             <div class="card-img">
                                             </br><p class="font-weight-bold mb-1 text-center" style="font-size: 10pt; font-family: monospace;">Puntaje Ponderado</p><br>
                                                 <%= pie_chart [["RS1", rs1],["RS4",rs4],["RS5",rs5],["RS6",rs6],["RS8",rs8],["RS9",rs9],["",(100-rs1-rs4-rs5-rs6-rs8-rs9)]]%>
                                           </div></div>
                       </section>
                    </div>
                    <button class="btn btn-success  " style="font-size: 15pt;left: 80%; position: relative; " type="submit" >APROBADO</button>

                  </div>
                </div>


            </div>
        </div>
    </div>

<% end %>
