<p id="notice"><%= notice %></p>

<h1>Historia</h1>

<table>
  <thead>
    <tr>
      <th>Global</th>
      <th>Gobpon</th>
      <th>Gobbru</th>
      <th>Gob1pon</th>
      <th>Gob1bru</th>
      <th>Gob2pon</th>
      <th>Gob2bru</th>
      <th>Gob3pon</th>
      <th>Gob3bru</th>
      <th>Gob4pon</th>
      <th>Gob4bru</th>
      <th>Gob5pon</th>
      <th>Gob5bru</th>
      <th>Gob6pon</th>
      <th>Gob6bru</th>
      <th>Cupon</th>
      <th>Cubru</th>
      <th>Cu1pon</th>
      <th>Cu1bru</th>
      <th>Cu2pon</th>
      <th>Cu2bru</th>
      <th>Cu3pon</th>
      <th>Cu3bru</th>
      <th>Cu4pon</th>
      <th>Cu4bru</th>
      <th>Cu5pon</th>
      <th>Cu5bru</th>
      <th>Cu6pon</th>
      <th>Cu6bru</th>
      <th>Cu7pon</th>
      <th>Cu7bru</th>
      <th>Acpon</th>
      <th>Acbru</th>
      <th>Ac1pon</th>
      <th>Ac1bru</th>
      <th>Ac2pon</th>
      <th>Ac2bru</th>
      <th>Ac3pon</th>
      <th>Ac3bru</th>
      <th>Ac4pon</th>
      <th>Ac4bru</th>
      <th>Ac5pon</th>
      <th>Ac5bru</th>
      <th>Ac6pon</th>
      <th>Ac6bru</th>
      <th>Ac7pon</th>
      <th>Ac7bru</th>
      <th>Ac8pon</th>
      <th>Ac8bru</th>
      <th>Gcpon</th>
      <th>Gcbru</th>
      <th>Gc1pon</th>
      <th>Gc1bru</th>
      <th>Gc2pon</th>
      <th>Gc2bru</th>
      <th>Gc3pon</th>
      <th>Gc3bru</th>
      <th>Gc4pon</th>
      <th>Gc4bru</th>
      <th>Gc5pon</th>
      <th>Gc5bru</th>
      <th>Gc6pon</th>
      <th>Gc6bru</th>
      <th>Gc7pon</th>
      <th>Gc7bru</th>
      <th>Gc8pon</th>
      <th>Gc8bru</th>
      <th>Gc9pon</th>
      <th>Gc9bru</th>
      <th>Gc10pon</th>
      <th>Gc10bru</th>
      <th>Gc11pon</th>
      <th>Gc11bru</th>
      <th>Gc12pon</th>
      <th>Gc12bru</th>
      <th>Gc13pon</th>
      <th>Gc13bru</th>
      <th>Gc14pon</th>
      <th>Gc14bru</th>
      <th>Gc15pon</th>
      <th>Gc15bru</th>
      <th>Rspon</th>
      <th>Rsbru</th>
      <th>Rs1pon</th>
      <th>Rs1bru</th>
      <th>Rs2pon</th>
      <th>Rs2bru</th>
      <th>Rs3pon</th>
      <th>Rs3bru</th>
      <th>Rs4pon</th>
      <th>Rs4bru</th>
      <th>Rs5pon</th>
      <th>Rs5bru</th>
      <th>Rs6pon</th>
      <th>Rs6bru</th>
      <th>Rs7pon</th>
      <th>Rs7bru</th>
      <th>Rs8pon</th>
      <th>Rs8bru</th>
      <th>Rs9pon</th>
      <th>Rs9bru</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historia.each do |historium| %>
      <tr>
        <td><%= historium.global %></td>
        <td><%= historium.gobpon %></td>
        <td><%= historium.gobbru %></td>
        <td><%= historium.gob1pon %></td>
        <td><%= historium.gob1bru %></td>
        <td><%= historium.gob2pon %></td>
        <td><%= historium.gob2bru %></td>
        <td><%= historium.gob3pon %></td>
        <td><%= historium.gob3bru %></td>
        <td><%= historium.gob4pon %></td>
        <td><%= historium.gob4bru %></td>
        <td><%= historium.gob5pon %></td>
        <td><%= historium.gob5bru %></td>
        <td><%= historium.gob6pon %></td>
        <td><%= historium.gob6bru %></td>
        <td><%= historium.cupon %></td>
        <td><%= historium.cubru %></td>
        <td><%= historium.cu1pon %></td>
        <td><%= historium.cu1bru %></td>
        <td><%= historium.cu2pon %></td>
        <td><%= historium.cu2bru %></td>
        <td><%= historium.cu3pon %></td>
        <td><%= historium.cu3bru %></td>
        <td><%= historium.cu4pon %></td>
        <td><%= historium.cu4bru %></td>
        <td><%= historium.cu5pon %></td>
        <td><%= historium.cu5bru %></td>
        <td><%= historium.cu6pon %></td>
        <td><%= historium.cu6bru %></td>
        <td><%= historium.cu7pon %></td>
        <td><%= historium.cu7bru %></td>
        <td><%= historium.acpon %></td>
        <td><%= historium.acbru %></td>
        <td><%= historium.ac1pon %></td>
        <td><%= historium.ac1bru %></td>
        <td><%= historium.ac2pon %></td>
        <td><%= historium.ac2bru %></td>
        <td><%= historium.ac3pon %></td>
        <td><%= historium.ac3bru %></td>
        <td><%= historium.ac4pon %></td>
        <td><%= historium.ac4bru %></td>
        <td><%= historium.ac5pon %></td>
        <td><%= historium.ac5bru %></td>
        <td><%= historium.ac6pon %></td>
        <td><%= historium.ac6bru %></td>
        <td><%= historium.ac7pon %></td>
        <td><%= historium.ac7bru %></td>
        <td><%= historium.ac8pon %></td>
        <td><%= historium.ac8bru %></td>
        <td><%= historium.gcpon %></td>
        <td><%= historium.gcbru %></td>
        <td><%= historium.gc1pon %></td>
        <td><%= historium.gc1bru %></td>
        <td><%= historium.gc2pon %></td>
        <td><%= historium.gc2bru %></td>
        <td><%= historium.gc3pon %></td>
        <td><%= historium.gc3bru %></td>
        <td><%= historium.gc4pon %></td>
        <td><%= historium.gc4bru %></td>
        <td><%= historium.gc5pon %></td>
        <td><%= historium.gc5bru %></td>
        <td><%= historium.gc6pon %></td>
        <td><%= historium.gc6bru %></td>
        <td><%= historium.gc7pon %></td>
        <td><%= historium.gc7bru %></td>
        <td><%= historium.gc8pon %></td>
        <td><%= historium.gc8bru %></td>
        <td><%= historium.gc9pon %></td>
        <td><%= historium.gc9bru %></td>
        <td><%= historium.gc10pon %></td>
        <td><%= historium.gc10bru %></td>
        <td><%= historium.gc11pon %></td>
        <td><%= historium.gc11bru %></td>
        <td><%= historium.gc12pon %></td>
        <td><%= historium.gc12bru %></td>
        <td><%= historium.gc13pon %></td>
        <td><%= historium.gc13bru %></td>
        <td><%= historium.gc14pon %></td>
        <td><%= historium.gc14bru %></td>
        <td><%= historium.gc15pon %></td>
        <td><%= historium.gc15bru %></td>
        <td><%= historium.rspon %></td>
        <td><%= historium.rsbru %></td>
        <td><%= historium.rs1pon %></td>
        <td><%= historium.rs1bru %></td>
        <td><%= historium.rs2pon %></td>
        <td><%= historium.rs2bru %></td>
        <td><%= historium.rs3pon %></td>
        <td><%= historium.rs3bru %></td>
        <td><%= historium.rs4pon %></td>
        <td><%= historium.rs4bru %></td>
        <td><%= historium.rs5pon %></td>
        <td><%= historium.rs5bru %></td>
        <td><%= historium.rs6pon %></td>
        <td><%= historium.rs6bru %></td>
        <td><%= historium.rs7pon %></td>
        <td><%= historium.rs7bru %></td>
        <td><%= historium.rs8pon %></td>
        <td><%= historium.rs8bru %></td>
        <td><%= historium.rs9pon %></td>
        <td><%= historium.rs9bru %></td>
        <td><%= link_to 'Show', historium %></td>
        <td><%= link_to 'Edit', edit_historium_path(historium) %></td>
        <td><%= link_to 'Destroy', historium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historium', new_historium_path %>
