<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<%= stylesheet_link_tag "preg.css" %>
<%= javascript_include_tag "pre", "data-turbolinks-track" => true  %>

<%= form_with(model: formulario, local: true) do |form| %>
  <% if formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulario.errors.count, "error") %> prohibited this formulario from being saved:</h2>

      <ul>
      <% formulario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container" style="padding-top:30px;">
  <div class="stepwizard">
     <div class="stepwizard-row setup-panel">
         <div class="stepwizard-step col-xs-2">
             <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
             <p><small style= "color: #000; font-size:15px">Datos Encargados</small></p>
         </div>
         <div class="stepwizard-step col-xs-2">
             <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
             <p><small style= "color: #000; font-size:15px">Datos Institucionales</small></p>
         </div>
         <div class="stepwizard-step col-xs-1">
             <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
             <p><small style= "color: #000; font-size:15px">Gobernanza</small></p>
         </div>
         <div class="stepwizard-step col-xs-2">
             <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
             <p><small style= "color: #000; font-size:15px">Cultura</small></p>
         </div>
         <div class="stepwizard-step col-xs-1">
             <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
             <p><small style= "color: #000; font-size:15px">Academia</small></p>
         </div>
         <div class="stepwizard-step col-xs-2">
             <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
             <p><small style= "color: #000; font-size:15px">Campus</small></p>
         </div>
         <div class="stepwizard-step col-xs-2">
             <a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
             <p><small style= "color: #000; font-size:15px">Responsabilidad Social</small></p>
         </div>
     </div>
  </div>
    <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-heading" style="background-color: #E0FFFF">
                 <h3 class="panel-title">Datos Encargados</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label"> Nombre Encargado: </label>
                    <%= form.text_field :nombre_encargado, id: :formulario_nombre_encargado, class:'form-control', placeholder:' Ej: Juan Alberto Bustos Garcia' %>
                </div>
                <div class="form-group">
                        <label class="control-label"> Telefono: </label>
                        <%= form.text_field :telefono, id: :formulario_telefono, class:'form-control', placeholder:' Ej: 961476243' %>
                </div>
                <div class="form-group">
                      <label class="control-label"> Fecha: </label>
                      <%= form.date_field :fecha, id: :formulario_fecha, class:'form-control'%>
                </div>
                <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
            </div>
        </div>

    <div class="panel panel-default setup-content" id="step-2">
          <div class="panel-heading" style="background-color: #E0FFFF">
               <h3 class="panel-title" >Datos Institucionales</h3>
          </div>
      <div class="panel-body">
          <div class="col-md-12 text-center">
            <div class="panel-heading" style="background-color: #DDA0DD">
                 <h3 class="panel-title" >Población </h3>
            </div></br>
          <table class="table text-center" style="font-size: 11pt">
                <tr style="background-color: 	#E0FFFF">
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Sub Categoria</th>
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Indicador</th>
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-3 text-center">Pregunta</th>
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Respuesta</th>
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Descripción</th>
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Verificación</th>
                    <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Comentario</th>
                </tr>
          </table>
          </div>
          <% @questions.each do |question| %>
                <%= form.fields_for :resultados do |s| %>
                  <% if question.subcat.nombre == 'Población'%>
                     <% valor = question.id%>
                     <div class="col-md-12 text-justify">
                       <table class="table text-center" style="font-size: 10pt">
                     <tr>
                     <td class="col-xs-1" ><%= question.subcat.nombre %></td>
                     <td class="col-xs-1" ><%= question.indicador%></td>
                     <td class= "col-xs-3"><%= question.pregunta %></td>
                     <% if question.tiporespuesta == 'Si - No' || question.tiporespuesta == 'Alternativa' %>
                        <td><%= s.collection_select :respuesta,   Alternativa.where(question_id: valor) , :puntaje, :nombre ,{include_blank: ''} , {class: 'form-control'} %></div></td>
                        <td><%= s.text_area :descripcion, placeholder:' Descripción'  %></td>
                        <td><%= s.text_area :verificacion, placeholder:' Verificación' %></td>
                        <td><%= s.text_area :comentario, placeholder:'Comentario' %></td>
                        <%= s.hidden_field 'question_id',:value => question.id%>
                     <% elsif question.tiporespuesta == 'Ingresa Valor Manualmente' %>
                        <td class="col-xs-2"><%= s.text_area :respuesta,  placeholder:' Respuesta', class:'form-control' %></td>
                        <td class="col-xs-2"><%= s.text_area :descripcion, placeholder:' Descripción' , class:'form-control'%></td>
                        <td class="col-xs-1"><%= s.text_area :verificacion, placeholder:' Verificación', class:'form-control'%></td>
                        <td class="col-xs-2"><%= s.text_area :comentario, placeholder:'Comentario' ,  class:'form-control' %></td>
                        <%= s.hidden_field 'question_id',:value => question.id%>
                      <%end%>
                      </tr>
                    </table>
                  </div>
                  <% elsif question.subcat.nombre != 'Población'%>
                      <%  break %>
                  <%end%>
                <%end%>
          <%end%>

          <div class="col-md-12 text-center">
              <div class="panel-heading" style="background-color: #DDA0DD">
                 <h3 class="panel-title" >Instalaciones</h3>
              </div></br>
              <table class="table text-center" style="font-size: 11pt">
                <tr style="background-color: 	#E0FFFF">
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Sub Categoria</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Indicador</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-3 text-center">Pregunta</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Respuesta</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Descripción</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Verificación</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Comentario</th>
                </tr>
              </table>
          </div>
          <% @questions.each do |question| %>
            <%= form.fields_for :resultados do |s| %>
                <% if question.subcat.nombre != 'Instalaciones'%>
                    <%break%>
                <% elsif question.subcat.nombre == 'Instalaciones'%>
                    <% valor = question.id%>
                    <div class="col-md-12 text-justify">
                    <table class="table text-center" style="font-size: 10pt">
                    <tr>
                        <td class="col-xs-1" ><%= question.subcat.nombre %></td>
                        <td class="col-xs-1" ><%= question.indicador%></td>
                        <td class= "col-xs-3"><%= question.pregunta %></td>
                        <% if question.tiporespuesta == 'Si - No' || question.tiporespuesta == 'Alternativa' %>
                          <td><%= s.collection_select :respuesta,   Alternativa.where(question_id: valor) , :puntaje, :nombre ,{include_blank: ''} , {class: 'form-control'} %></div></td>
                          <td><%= s.text_area :descripcion, placeholder:' Descripción'  %></td>
                          <td><%= s.text_area :verificacion, placeholder:' Verificación' %></td>
                          <td><%= s.text_area :comentario, placeholder:'Comentario' %></td>
                          <%= s.hidden_field 'question_id',:value => question.id%>
                        <% elsif question.tiporespuesta == 'Ingresa Valor Manualmente' %>
                          <td class="col-xs-2"><%= s.text_area :respuesta,  placeholder:' Respuesta', class:'form-control' %></td>
                          <td class="col-xs-2"><%= s.text_area :descripcion, placeholder:' Descripción' , class:'form-control'%></td>
                          <td class="col-xs-1"><%= s.text_area :verificacion, placeholder:' Verificación', class:'form-control'%></td>
                          <td class="col-xs-2"><%= s.text_area :comentario, placeholder:'Comentario' ,  class:'form-control' %></td>
                          <%= s.hidden_field 'question_id',:value => question.id%>
                        <%end%>
                      </tr>
                    </table>
                  </div>
                <%end%>
            <%end%>
          <%end%>

          <div class="col-md-12 text-center">
              <div class="panel-heading" style="background-color: #DDA0DD">
                 <h3 class="panel-title" >Año Base</h3>
              </div></br>
              <table class="table text-center" style="font-size: 11pt">
                <tr style="background-color: 	#E0FFFF">
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Sub Categoria</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Indicador</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-3 text-center">Pregunta</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Respuesta</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Descripción</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-1 text-center">Verificación</th>
                  <th class="border-0 text-uppercase small font-weight-bold col-xs-2 text-center">Comentario</th>
                </tr>
              </table>
          </div>
          <% @questions.each do |question| %>
            <%= form.fields_for :resultados do |s| %>
                <% if question.subcat.nombre != 'Año Base'%>
                    <%break%>
                <% elsif question.subcat.nombre == 'Año Base'%>
                    <% valor = question.id%>
                    <div class="col-md-12 text-justify">
                    <table class="table text-center" style="font-size: 10pt">
                    <tr>
                        <td class="col-xs-1" ><%= question.subcat.nombre %></td>
                        <td class="col-xs-1" ><%= question.indicador%></td>
                        <td class= "col-xs-3"><%= question.pregunta %></td>
                        <% if question.tiporespuesta == 'Si - No' || question.tiporespuesta == 'Alternativa' %>
                          <td><%= s.collection_select :respuesta,   Alternativa.where(question_id: valor) , :puntaje, :nombre ,{include_blank: ''} , {class: 'form-control'} %></div></td>
                          <td><%= s.text_area :descripcion, placeholder:' Descripción'  %></td>
                          <td><%= s.text_area :verificacion, placeholder:' Verificación' %></td>
                          <td><%= s.text_area :comentario, placeholder:'Comentario' %></td>
                          <%= s.hidden_field 'question_id',:value => question.id%>
                        <% elsif question.tiporespuesta == 'Ingresa Valor Manualmente' %>
                          <td class="col-xs-2"><%= s.text_area :respuesta,  placeholder:' Respuesta', class:'form-control' %></td>
                          <td class="col-xs-2"><%= s.text_area :descripcion, placeholder:' Descripción' , class:'form-control'%></td>
                          <td class="col-xs-1"><%= s.text_area :verificacion, placeholder:' Verificación', class:'form-control'%></td>
                          <td class="col-xs-2"><%= s.text_area :comentario, placeholder:'Comentario' ,  class:'form-control' %></td>
                          <%= s.hidden_field 'question_id',:value => question.id%>
                        <%end%>
                      </tr>
                    </table>
                  </div>
                <%end%>
            <%end%>
          <%end%>

              <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
      </div>
    </div>

    <div class="panel panel-default setup-content" id="step-3">
       <div class="panel-heading" style="background-color: #E0FFFF">
          <h3 class="panel-title" >Gobernanza</h3>
       </div>
       <div class="panel-body">
         </br>
              <% @questions.each do |question| %>
                 <%= form.fields_for :resultados do |s| %>
                   <% if question.subcat.cat.nombre == 'Gobernanza' %>
                      <% if question.subcat.nombre == 'GOB1. Participación de grupos de interés' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcat.nombre%></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                      <% elsif question.subcat.nombre == 'GOB2. Compromiso Institucional' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcat.nombre %></h3>
                        </div>
                        <li><%= question.pregunta%></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                      <% elsif question.subcat.nombre == 'GOB3. Plan/Estrategia de Sustentabilidad ' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcat.nombre%></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                        <% elsif question.subcat.nombre == 'GOB4. Reportabilidad y Transparencia ' %>
                          <div class="panel-heading " style="background-color: #E0FFFF">
                            <h3 class="panel-title"><%= question.subcat.nombre %></h3>
                          </div>
                          <li><%= question.pregunta %></li>
                          <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                          <%= s.text_field :descripcion, placeholder:' Descripción' %>
                          <%= s.text_field :verificacion, placeholder:' Verificación' %>
                          <%= s.text_field :comentario, placeholder:'Comentario' %>
                          <%= s.hidden_field 'question_id',:value => question.id%>

                        <% elsif question.subcat.nombre == 'GOB5. Huella de Carbono ' %>
                          <div class="panel-heading " style="background-color: #E0FFFF">
                            <h3 class="panel-title"><%= question.subcat.nombre%></h3>
                          </div>
                          <li><%= question.pregunta %></li>
                          <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                          <%= s.text_field :descripcion, placeholder:' Descripción' %>
                          <%= s.text_field :verificacion, placeholder:' Verificación' %>
                          <%= s.text_field :comentario, placeholder:'Comentario' %>
                          <%= s.hidden_field 'question_id',:value => question.id%>

                        <% elsif question.subcat.nombre == 'GOB6. Coordinación Sustentabilidad ' %>
                          <div class="panel-heading " style="background-color: #E0FFFF">
                            <h3 class="panel-title"><%= question.subcat.nombre %></h3>
                          </div>
                          <li><%= question.pregunta %></li>
                          <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                          <%= s.text_field :descripcion, placeholder:' Descripción' %>
                          <%= s.text_field :verificacion, placeholder:' Verificación' %>
                          <%= s.text_field :comentario, placeholder:'Comentario' %>
                          <%= s.hidden_field 'question_id',:value => question.id%>
                     <% end %>
                    <%end%>
                  <% end %>
                <% end %>
               <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
           </div>
    </div>

    <div class="panel panel-default setup-content" id="step-4">
         <div class="panel-heading" style="background-color: #E0FFFF">
              <h3 class="panel-title" >Cultura</h3>
         </div>
         <div class="panel-body">
         </br>
            <% @questions.each do |question| %>
               <%= form.fields_for :resultados do |s| %>
                 <% if question.subcat.cat.nombre == 'Cultura' %>
                    <% if question.subcategoria == 'CU1. Estudiantes promotores de la Sustentabilidad ' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'CU2. Inducción a la Sustentabilidad para estudiantes' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'CU3. Funcionarios promotores de la Sustentabilidad ' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                   <% elsif question.subcategoria == 'CU4.Inducción a la sustentabilidad para funcionarios ' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                  <% elsif question.subcategoria == 'CU5. Programa de prácticas sustentables para oficinas' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                 <% elsif question.subcategoria == 'CU6. Programa de desarrollo profesional en sustentabilidad' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                <% elsif question.subcategoria == 'CU7. Actividades de difusión y sensibilización' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                <% end %>
              <%end%>
            <% end %>
          <% end %>
             <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
         </div>
    </div>

    <div class="panel panel-default setup-content" id="step-5">
        <div class="panel-heading" style="background-color: #E0FFFF">
             <h3 class="panel-title" >Academia</h3>
        </div>
        <div class="panel-body">
        </br>
           <% @questions.each do |question| %>
              <%= form.fields_for :resultados do |s| %>
                <% if question.subcat.cat.nombre == 'Academia' %>
                   <% if question.subcategoria == 'AC1. Curso mínimo transversal de pregrado' %>
                     <div class="panel-heading " style="background-color: #E0FFFF">
                       <h3 class="panel-title"><%= question.subcategoria %></h3>
                     </div>
                     <li><%= question.pregunta%></li>
                     <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                     <%= s.text_field :descripcion, placeholder:' Descripción' %>
                     <%= s.text_field :verificacion, placeholder:' Verificación' %>
                     <%= s.text_field :comentario, placeholder:'Comentario' %>
                     <%= s.hidden_field 'question_id',:value => question.id%>

                   <% elsif question.subcategoria == 'AC2. Capacitación profesores' %>
                     <div class="panel-heading " style="background-color: #E0FFFF">
                       <h3 class="panel-title"><%= question.subcategoria %></h3>
                     </div>
                     <li><%= question.pregunta%></li>
                     <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                     <%= s.text_field :descripcion, placeholder:' Descripción' %>
                     <%= s.text_field :verificacion, placeholder:' Verificación' %>
                     <%= s.text_field :comentario, placeholder:'Comentario' %>
                     <%= s.hidden_field 'question_id',:value => question.id%>

                   <% elsif question.subcategoria == 'AC3. Evaluación conocimiento sustentabilidad de estudiantes ' %>
                     <div class="panel-heading " style="background-color: #E0FFFF">
                       <h3 class="panel-title"><%= question.subcategoria %></h3>
                     </div>
                     <li><%= question.pregunta %></li>
                     <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                     <%= s.text_field :descripcion, placeholder:' Descripción' %>
                     <%= s.text_field :verificacion, placeholder:' Verificación' %>
                     <%= s.text_field :comentario, placeholder:'Comentario' %>
                     <%= s.hidden_field 'question_id',:value => question.id%>

                  <% elsif question.subcategoria == 'AC4. Programas de postgrado que incluyen competencias en sustentabilidad' %>
                    <div class="panel-heading " style="background-color: #E0FFFF">
                      <h3 class="panel-title"><%= question.subcategoria %></h3>
                    </div>
                    <li><%= question.qpregunta%></li>
                    <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                    <%= s.text_field :descripcion, placeholder:' Descripción' %>
                    <%= s.text_field :verificacion, placeholder:' Verificación' %>
                    <%= s.text_field :comentario, placeholder:'Comentario' %>
                    <%= s.hidden_field 'question_id',:value => question.id%>

                <% elsif question.subcategoria == 'AC5. Programas de pregrado que incluyen competencias en sustentabilidad ' %>
                   <div class="panel-heading " style="background-color: #E0FFFF">
                     <h3 class="panel-title"><%= question.subcategoria %></h3>
                   </div>
                   <li><%= question.pregunta %></li>
                   <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                   <%= s.text_field :descripcion, placeholder:' Descripción' %>
                   <%= s.text_field :verificacion, placeholder:' Verificación' %>
                   <%= s.text_field :comentario, placeholder:'Comentario' %>
                   <%= s.hidden_field 'question_id',:value => question.id%>

                <% elsif question.subcategoria == 'AC6. Apoyo a la investigación en sustentabilidad ' %>
                   <div class="panel-heading " style="background-color: #E0FFFF">
                     <h3 class="panel-title"><%= question.subcategoria %></h3>
                   </div>
                   <li><%= question.pregunta %></li>
                   <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                   <%= s.text_field :descripcion, placeholder:' Descripción' %>
                   <%= s.text_field :verificacion, placeholder:' Verificación' %>
                   <%= s.text_field :comentario, placeholder:'Comentario' %>
                   <%= s.hidden_field 'question_id',:value => question.id%>

                <% elsif question.subcategoria == 'AC7. Investigación enfocada en sustentabilidad ' %>
                  <div class="panel-heading " style="background-color: #E0FFFF">
                    <h3 class="panel-title"><%= question.subcategoria %></h3>
                  </div>
                  <li><%= question.pregunta %></li>
                  <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                  <%= s.text_field :descripcion, placeholder:' Descripción' %>
                  <%= s.text_field :verificacion, placeholder:' Verificación' %>
                  <%= s.text_field :comentario, placeholder:'Comentario' %>
                  <%= s.hidden_field 'question_id',:value => question.id%>

                <% elsif question.subcategoria == 'AC8. Transferencia de conocimiento ' %>
                  <div class="panel-heading " style="background-color: #E0FFFF">
                    <h3 class="panel-title"><%= question.subcategoria %></h3>
                  </div>
                  <li><%= question.pregunta %></li>
                  <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                  <%= s.text_field :descripcion, placeholder:' Descripción' %>
                  <%= s.text_field :verificacion, placeholder:' Verificación' %>
                  <%= s.text_field :comentario, placeholder:'Comentario' %>
                  <%= s.hidden_field 'question_id',:value => question.id%>
                  <% end %>
                 <%end%>
               <% end %>
             <% end %>
            <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
        </div>
    </div>

    <div class="panel panel-default setup-content" id="step-6">
       <div class="panel-heading" style="background-color: #E0FFFF">
            <h3 class="panel-title" >Gestión de Campus</h3>
       </div>
       <div class="panel-body">
       </br>
          <% @questions.each do |question| %>
             <%= form.fields_for :resultados do |s| %>
               <% if question.subcat.cat.nombre == 'Campus' %>
                  <% if question.subcategoria == 'GC1. Huella Hidríca' %>
                    <div class="panel-heading " style="background-color: #E0FFFF">
                      <h3 class="panel-title"><%= question.subcategoria %></h3>
                    </div>
                    <li><%= question.pregunta %></li>
                    <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                    <%= s.text_field :descripcion, placeholder:' Descripción' %>
                    <%= s.text_field :verificacion, placeholder:' Verificación' %>
                    <%= s.text_field :comentario, placeholder:'Comentario' %>
                    <%= s.hidden_field 'question_id',:value => question.id%>

                  <% elsif question.subcategoria == 'GC2. Reducción del consumo de agua' %>
                    <div class="panel-heading " style="background-color: #E0FFFF">
                      <h3 class="panel-title"><%= question.subcategoria %></h3>
                    </div>
                    <li><%= question.pregunta %></li>
                    <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                    <%= s.text_field :descripcion, placeholder:' Descripción' %>
                    <%= s.text_field :verificacion, placeholder:' Verificación' %>
                    <%= s.text_field :comentario, placeholder:'Comentario' %>
                    <%= s.hidden_field 'question_id',:value => question.id%>

                  <% elsif question.subcategoria == 'GC3. Biodiversidad' %>
                    <div class="panel-heading " style="background-color: #E0FFFF">
                      <h3 class="panel-title"><%= question.subcategoria %></h3>
                    </div>
                    <li><%= question.pregunta %></li>
                    <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                    <%= s.text_field :descripcion, placeholder:' Descripción' %>
                    <%= s.text_field :verificacion, placeholder:' Verificación' %>
                    <%= s.text_field :comentario, placeholder:'Comentario' %>
                    <%= s.hidden_field 'question_id',:value => question.id%>

                 <% elsif question.subcategoria == 'GC4. Manejo sustentable de jardines' %>
                    <div class="panel-heading " style="background-color: #E0FFFF">
                      <h3 class="panel-title"><%= question.subcategoria %></h3>
                    </div>
                    <li><%= question.pregunta %></li>
                    <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                    <%= s.text_field :descripcion, placeholder:' Descripción' %>
                    <%= s.text_field :verificacion, placeholder:' Verificación' %>
                    <%= s.text_field :comentario, placeholder:'Comentario' %>
                    <%= s.hidden_field 'question_id',:value => question.id%>

                 <% elsif question.subcategoria == 'GC5. Alimentación' %>
                    <div class="panel-heading " style="background-color: #E0FFFF">
                         <h3 class="panel-title"><%= question.subcategoria %></h3>
                    </div>
                    <li><%= question.pregunta %></li>
                    <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                    <%= s.text_field :descripcion, placeholder:' Descripción' %>
                    <%= s.text_field :verificacion, placeholder:' Verificación' %>
                    <%= s.text_field :comentario, placeholder:'Comentario' %>
                    <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'GC6. Programa de compras sustentables' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta%></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'GC7. Diseño y construcción' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'GC8. Operación y mantención ' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'GC9. Consumo de energía' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                        <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>

                    <% elsif question.subcategoria == 'GC10. Energía renovable' %>
                      <div class="panel-heading " style="background-color: #E0FFFF">
                           <h3 class="panel-title"><%= question.subcategoria %></h3>
                      </div>
                      <li><%= question.pregunta %></li>
                      <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                      <%= s.text_field :descripcion, placeholder:' Descripción' %>
                      <%= s.text_field :verificacion, placeholder:' Verificación' %>
                      <%= s.text_field :comentario, placeholder:'Comentario' %>
                      <%= s.hidden_field 'question_id',:value => question.id%>


                      <% elsif question.subcategoria == 'GC11. Generación de residuos' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcategoria %></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                      <% elsif question.subcategoria == 'GC12. Recuperación de residuos' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcategoria %></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                      <% elsif question.subcategoria == 'GC13. Residuos peligrosos' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcategoria %></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                      <% elsif question.subcategoria == 'GC14. Participación modal medios de transporte' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                          <h3 class="panel-title"><%= question.subcategoria %></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                      <% elsif question.subcategoria == 'GC15. Plan transporte sustentable' %>
                        <div class="panel-heading " style="background-color: #E0FFFF">
                             <h3 class="panel-title"><%= question.subcategoria %></h3>
                        </div>
                        <li><%= question.pregunta %></li>
                        <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                        <%= s.text_field :descripcion, placeholder:' Descripción' %>
                        <%= s.text_field :verificacion, placeholder:' Verificación' %>
                        <%= s.text_field :comentario, placeholder:'Comentario' %>
                        <%= s.hidden_field 'question_id',:value => question.id%>

                 <% end %>
                <%end%>
              <% end %>
            <% end %>
           <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
       </div>
    </div>

    <div class="panel panel-default setup-content" id="step-7">
      <div class="panel-heading" style="background-color: #E0FFFF">
           <h3 class="panel-title" >Responsabilidad Social</h3>
      </div>
      <div class="panel-body">
      </br>
         <% @questions.each do |question| %>
            <%= form.fields_for :resultados do |s| %>
              <% if question.subcat.cat.nombre == 'Responsabilidad Social' %>
                 <% if question.subcategoria == 'RS1. Asequibilidad' %>
                   <div class="panel-heading " style="background-color: #E0FFFF">
                     <h3 class="panel-title"><%= question.subcategoria %></h3>
                   </div>
                   <li><%= question.pregunta %></li>
                   <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                   <%= s.text_field :descripcion, placeholder:' Descripción' %>
                   <%= s.text_field :verificacion, placeholder:' Verificación' %>
                   <%= s.text_field :comentario, placeholder:'Comentario' %>
                   <%= s.hidden_field 'question_id',:value => question.id%>

                 <% elsif question.subcategoria == 'RS2. Política de inclusión' %>
                   <div class="panel-heading " style="background-color: #E0FFFF">
                     <h3 class="panel-title"><%= question.subcategoria %></h3>
                   </div>
                   <li><%= question.pregunta %></li>
                   <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                   <%= s.text_field :descripcion, placeholder:' Descripción' %>
                   <%= s.text_field :verificacion, placeholder:' Verificación' %>
                   <%= s.text_field :comentario, placeholder:'Comentario' %>
                   <%= s.hidden_field 'question_id',:value => question.id%>

                 <% elsif question.subcategoria == 'RS3. Equidad de género' %>
                   <div class="panel-heading " style="background-color: #E0FFFF">
                     <h3 class="panel-title"><%= question.subcategoria %></h3>
                   </div>
                   <li><%= question.pregunta %></li>
                   <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                   <%= s.text_field :descripcion, placeholder:' Descripción' %>
                   <%= s.text_field :verificacion, placeholder:' Verificación' %>
                   <%= s.text_field :comentario, placeholder:'Comentario' %>
                   <%= s.hidden_field 'question_id',:value => question.id%>

                <% elsif question.subcategoria == 'RS4. Colaboración' %>
                  <div class="panel-heading " style="background-color: #E0FFFF">
                    <h3 class="panel-title"><%= question.subcategoria %></h3>
                  </div>
                  <li><%= question.pregunta%></li>
                  <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                  <%= s.text_field :descripcion, placeholder:' Descripción' %>
                  <%= s.text_field :verificacion, placeholder:' Verificación' %>
                  <%= s.text_field :comentario, placeholder:'Comentario' %>
                  <%= s.hidden_field 'question_id',:value => question.id%>

              <% elsif question.subcategoria == 'RS5. PArticipación en políticas públicas' %>
                 <div class="panel-heading " style="background-color: #E0FFFF">
                   <h3 class="panel-title"><%= question.subcategoria %></h3>
                 </div>
                 <li><%= question.pregunta %></li>
                 <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                 <%= s.text_field :descripcion, placeholder:' Descripción' %>
                 <%= s.text_field :verificacion, placeholder:' Verificación' %>
                 <%= s.text_field :comentario, placeholder:'Comentario' %>
                 <%= s.hidden_field 'question_id',:value => question.id%>

              <% elsif question.subcategoria == 'RS6. Comunidades vecinas' %>
                 <div class="panel-heading " style="background-color: #E0FFFF">
                   <h3 class="panel-title"><%= question.subcategoria %></h3>
                 </div>
                 <li><%= question.pregunta %></li>
                 <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                 <%= s.text_field :descripcion, placeholder:' Descripción' %>
                 <%= s.text_field :verificacion, placeholder:' Verificación' %>
                 <%= s.text_field :comentario, placeholder:'Comentario' %>
                 <%= s.hidden_field 'question_id',:value => question.id%>

              <% elsif question.subcategoria == 'RS7. Compensación del personal' %>
                <div class="panel-heading " style="background-color: #E0FFFF">
                  <h3 class="panel-title"><%= question.subcategoria %></h3>
                </div>
                <li><%= question.pregunta%></li>
                <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                <%= s.text_field :descripcion, placeholder:' Descripción' %>
                <%= s.text_field :verificacion, placeholder:' Verificación' %>
                <%= s.text_field :comentario, placeholder:'Comentario' %>
                <%= s.hidden_field 'question_id',:value => question.id%>

              <% elsif question.subcategoria == 'RS8. Satisfacción laboral' %>
                <div class="panel-heading " style="background-color: #E0FFFF">
                  <h3 class="panel-title"><%= question.subcategoria %></h3>
                </div>
                <li><%= question.pregunta%></li>
                <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                <%= s.text_field :descripcion, placeholder:' Descripción' %>
                <%= s.text_field :verificacion, placeholder:' Verificación' %>
                <%= s.text_field :comentario, placeholder:'Comentario' %>
                <%= s.hidden_field 'question_id',:value => question.id%>

              <% elsif question.subcategoria == 'RS9. Sindicalización' %>
                <div class="panel-heading " style="background-color: #E0FFFF">
                  <h3 class="panel-title"><%= question.subcategoria %></h3>
                </div>
                <li><%= question.pregunta %></li>
                <%= s.text_field :respuesta, placeholder:' Respuesta' %>
                <%= s.text_field :descripcion, placeholder:' Descripción' %>
                <%= s.text_field :verificacion, placeholder:' Verificación' %>
                <%= s.text_field :comentario, placeholder:'Comentario' %>
                <%= s.hidden_field 'question_id',:value => question.id%>

              <% end %>
             <%end%>
           <% end %>
         <% end %>
        <button class="btn btn-success pull-right" type="submit">Finish!</button>
      </div>
    </div>

  </form>
</div>
<%end%>
