<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre encargado:</strong>
  <%= @formulario.nombre_encargado %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @formulario.telefono %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @formulario.fecha %>
</p>

<ol>

  <% @questions.each do |question| %>
   <% for resultado in @formulario.resultados %>
      <% if question.id == resultado.question_id  %>
       <li><%= question.pregunta %></li>
        <td><%= resultado.respuesta %></td></br>
        <td><%= resultado.descripcion %></td></br>
        <td><%= resultado.verificacion %></td></br>
        <td><%= resultado.comentario %></td>
        <td><%= resultado.question_id %> </td>
        <td><%= resultado.id %></td>
        <td><%= resultado.formulario_id %></td>
        <% end %>
    <% end %>
  <% end %>
</ol>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', formularios_path %>
