<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador:</strong>
  <%= @preguntum.identificador %>
</p>

<p>
  <strong>Pregunta:</strong>
  <%= @preguntum.pregunta %>
</p>

<p>
  <strong>Categoria :</strong>
  <%= @preguntum.subcat.cat.nombre %></p>
<p>

<p>
    <strong> Subcategoria:</strong>
    <%= @preguntum.subcat.nombre %></p>
  <p>
  <strong>Tiporespuesta:</strong>
  <%= @preguntum.tiporespuesta %>
</p>

<%= link_to 'Edit', edit_preguntum_path(@preguntum) %> |
<%= link_to 'Back', pregunta_path %>
