<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<%= stylesheet_link_tag "preg.css" %>
<%= javascript_include_tag "pre", "data-turbolinks-track" => true  %>

<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container" style="padding-top:30px;">
    <div class="stepwizard" >
        <div class="stepwizard-row setup-panel" >
            <div class="stepwizard-step col-xs-6" >
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Pregunta</small></p>
            </div>
            <div class="stepwizard-step col-xs-6">
                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Alternativas</small></p>
            </div>
        </div>
    </div>
        <div class="panel panel-default setup-content" id="step-1">
            <div class="panel-heading" style="background-color: #E0FFFF">
                 <h3 class="panel-title">Pregunta</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Indicador : </label>
                    <%= form.text_field :indicador, id: :question_indicador, class:'form-control', placeholder:' Ej: GOB1' %>
                </div>
                <div class="form-group">
                    <label class="control-label">pregunta : </label>
                    <%= form.text_area :pregunta, id: :question_pregunta,  class:'form-control', placeholder:'Ej: Existen instancias de representatividad para el conjunto de estudiantes elegidas de forma democrática. Estas deben representar a la totalidad de los estudiantes de la institución. ' %>
                </div>

                <div class="form-group">
                        <label for="control-label">Categoria : </label>
                        <%= form.collection_select :cat_id, Cat.all, :id, :nombre , {include_blank: ''} , {class: 'form-control'} %>
                </div>
                <div class="form-group">
                        <label for="control-label">SubCategoria :</label>
                         <%= form.grouped_collection_select :subcat_id, Cat.all,:subcats, :nombre, :id, :nombre , {include_blank: ''} , {class: 'form-control'}%>
                </div>

                <div class="form-group">
                   <label class="control-label"> Tipo Respuesta :</label>
                   <%= form.select :tiporespuesta, [['Si - No','Si - No'],['Alternativa','Alternativa'],['Ingresa Valor Manualmente','Ingresa Valor Manualmente']],{include_blank: ''} , {class: 'form-control'}%>
               </div>
                <button class="btn btn-success  btn-lg nextBtn pull-right" type="button">Next</button>
            </div>

        </div>

        <div class="panel panel-default setup-content" id="step-4">
               <div class="panel-heading" style="background-color: #E0FFFF">
                    <h3 class="panel-title"> Alternativas</h3>
               </div>
                <div class="panel-body">
                  <div class="panel-heading" style="background-color: #E0FFFF">
                       <h3 class="panel-title">Si - No</h3>
                  </div>
                  </br> </br>

                  <%= form.fields_for :alternativas do |s| %>
                    <label class="control-label "> Nombre : </label>
                      <%= s.text_field :nombre,  class:'control-label', placeholder:'Ej: Si ' %>
                    <label class="control-label "> Puntaje : </label>
                    <%= s.text_field :puntaje,  class:'control-label', placeholder:'Ej: 0.5 ' %>


                  </br> </br>




                <%end%>
                </br></br></br>


                  </br> </br>

                 <button class="btn btn-success pull-right" type="submit">Finish!</button>
             </div>
         </div>
        </div>
    </form>
</div>
<%end%>
